In [13]:
import timeit

In [1]:
import numpy as np

In [58]:
x = np.random.randint(0,500000,size =(2,21))

In [31]:
x.shape

(21, 2)

In [42]:
x

array([[339676, 105871, 180274, 408797,  61994, 409458, 259881,  61255,
        405977, 240439,  32040, 188407, 249933, 296001, 320940, 261978,
        206427, 125169, 148511, 445810, 379989],
       [ 70172, 259344, 387112, 396948, 228964, 307904, 496296,  30486,
        187272, 256212, 286607,  56105, 177919,   1737,  17802, 405197,
        416425, 429949, 407109, 300675, 185134]])

In [41]:
y

(array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]),
 array([ 0,  2,  4,  5, 10, 14, 15, 19,  0,  1,  2,  3,  4,  5,  6,  7,  8,
         9, 14, 20]))

In [50]:
x[0].size

21

In [36]:
x.ndim

2

In [44]:
y = np.where(x%2 == 0)

In [45]:
y

(array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]),
 array([ 0,  2,  4,  5, 10, 14, 15, 19,  0,  1,  2,  3,  4,  5,  6,  7,  8,
         9, 14, 20]))

In [52]:
odd = 0
even = 0
for i in range(x.ndim):
    for j in range(x[i].size):
        if x[i][j] % 2 == 0:
            even +=1
        else:
            odd+=1
print("number of even ={} ".format(even))
print(odd)

number of even =20
22

In [60]:
xxx = np.random.randint(0,50,size = (5,5))

In [61]:
xxx

array([[ 4, 21, 44, 21, 26],
       [ 5,  0, 26, 13, 28],
       [ 2, 32, 44, 10, 27],
       [10, 37, 33,  1, 13],
       [47, 49, 31, 41, 20]])

In [81]:
a = xxx.sum(axis = 1)
a

array([116,  72, 115,  94, 188])

In [75]:
s = a.sum()

In [88]:
s

585

In [91]:
a.mean()

117.0

In [78]:
b = xxx.sum(axis=0)

In [79]:
s2 = b.sum()

In [92]:
xxx.size

25

In [83]:
avg = s2 / xxx.size

In [84]:
avg

23.4

In [86]:
xy = np.where(xxx>avg)

In [87]:
print(xxx[xy])

[44 26 26 28 32 44 27 37 33 47 49 31 41]

In [98]:
a = np.zeros((2,2))

In [99]:
a

array([[0., 0.],
       [0., 0.]])

In [ ]:
res = np.matrix([[0,0],[0,0]])
for i in range(len(arr1)): 
    for j in range(len(arr2[0])): 
        for k in range(len(arr2)): 
            res[i][j] += arr1[i][k] * arr2[k][j] 
for r in res: 
    print(r)

In [105]:
aa = np.array([[[1,3,4],[45,6]],[[65,77],[32,87]]])

In [107]:
aa.shape

(2, 2)

In [108]:
np.full(5, 10)

array([10, 10, 10, 10, 10])

In [109]:
m1 = np.matrix([[1, 2], [3, 4]])

m2 = np.mat([[5, 6], [7, 8]])

In [110]:
m1*m2

matrix([[19, 22],
        [43, 50]])

In [111]:
np.ceil(np.array([7.3,9.8,2.1,4.0]))

array([ 8., 10.,  3.,  4.])

In [112]:
x1 = np.array([51,6,35,81])
x2 = np.array([7,49,5,57])
np.mod(x1, x2)

array([ 2,  6,  0, 24])

In [113]:
np.repeat([1,2,3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [115]:
len(np.linspace(0, 10, 998))

998

In [6]:
a = np.random.randn(2,3,4)

In [7]:
a

array([[[ 1.13002583, -1.10722455,  1.17786525,  0.82270343],
        [-0.73059466, -1.60345245,  0.50002416, -1.0770469 ],
        [ 0.8985483 ,  0.02676537, -1.88646266,  1.5114499 ]],

       [[ 0.56079643, -0.3168587 , -0.58143653,  1.72391119],
        [ 1.17120593,  1.32805911,  0.39249885, -0.41912985],
        [-0.90493674,  1.03947691, -1.36865995,  0.37255163]]])

In [1]:
import pandas as pd
import numpy as np

In [6]:
titanic = pd.read_csv('Titanic.csv')

In [7]:
df = pd.DataFrame()

In [8]:
df.count()

Series([], dtype: int64)

In [9]:
df

Empty DataFrame
Columns: []
Index: []

In [10]:
titanic.count()

Unnamed: 0    1313
Name          1313
PClass        1313
Age            756
Sex           1313
Survived      1313
SexCode       1313
dtype: int64

In [11]:
titanic.head()

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [32]:
pcl = ['3rd']
gen = ['male']

In [29]:
df = titanic[titanic.PClass.isin(pcl)]

In [31]:
df.count()

Unnamed: 0    711
Name          711
PClass        711
Age           318
Sex           711
Survived      711
SexCode       711
dtype: int64

In [149]:
titanic[titanic.Survived.isin(['0'])]

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
1,2,"Allison, Miss Helen Loraine",1st,2,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25,female,0,1
7,8,"Andrews, Mr Thomas, jr",1st,39,male,0,0
9,10,"Artagaveytia, Mr Ramon",1st,71,male,0,0
10,11,"Astor, Colonel John Jacob",1st,47,male,0,0
14,15,"Baumann, Mr John D",1st,52,male,0,0
16,17,"Baxter, Mr Quigg Edmond",1st,24,male,0,0
17,18,"Beattie, Mr Thomson",1st,36,male,0,0
21,22,"Birnbaum, Mr Jakob",1st,25,male,0,0
25,26,"Blackwell, Mr Stephen Weart",1st,45,male,0,0
29,30,"Borebank, Mr John James",1st,52,male,0,0
33,34,"Brady, Mr John Bertram",1st,41,male,0,0
34,35,"Brandeis, Mr Emil",1st,48,male,0,0
35,36,"Brewe, Dr Arthur Jackson",1st,52,male,0,0
39,40,"Butt, Major Archibald Willingham",1st,45,male,0,0
44,45,"Carlsson, Mr Frans Olof",1st,33,male,0,0
45,46,"Carrau, Mr Francisco M",1st,52,male,0,0
46,47,"Carrau, Mr Jose Pedro",1st,52,male,0,0
51,52,"Case, Mr Howard Brown",1st,49,male,0,0
53,54,"Cavendish, Mr Tyrell William",1st,36,male,0,0
55,56,"Chaffee, Mr Herbert Fuller",1st,46,male,0,0
62,63,"Chisholm, Mr Roderick Robert",1st,52,male,0,0
63,64,"Clark, Mr Walter Miller",1st,27,male,0,0
65,66,"Clifford, Mr George Quincy",1st,52,male,0,0
66,67,"Colley, Mr Edward Pomeroy",1st,52,male,0,0
68,69,"Compton, Mr Alexander Taylor, Jr",1st,37,male,0,0
71,72,"Crafton, Mr John Bertram",1st,52,male,0,0
72,73,"Crosby, Captain Edward Gifford",1st,70,male,0,0
75,76,"Cumings, Mr John Bradley",1st,39,male,0,0
...,...,...,...,...,...,...,...
1278,1279,"Van Impe, Mrs Jean Baptiste",3rd,30,female,0,1
1280,1281,"Vassilios, Mr Catavelas",3rd,52,male,0,0
1281,1282,"Vendel, Mr Olof Wdvin",3rd,29,male,0,0
1282,1283,"Vereruysse, Mr Victor",3rd,47,male,0,0
1283,1284,"Vestrom, Miss Hulda Amanda Adolfina",3rd,14,female,0,1
1284,1285,"Vonk, Mr Jenko",3rd,22,male,0,0
1285,1286,"Ware, Mr Frederick",3rd,52,male,0,0
1286,1287,"Warren, Mr Charles William",3rd,52,male,0,0
1287,1288,"Wazli, Mr Yousif",3rd,52,male,0,0
1288,1289,"Webber, Mr James",3rd,52,male,0,0
1290,1291,"Wenzel, Mr Linhart",3rd,52,male,0,0
1291,1292,"Widegren, Mr Charles Peter",3rd,51,male,0,0
1292,1293,"Wiklund, Mr Jacob Alfred",3rd,18,male,0,0
1294,1295,"Willer, Mr Aaron",3rd,52,male,0,0
1295,1296,"Willey, Mr Edward",3rd,52,male,0,0
1296,1297,"Williams, Mr Howard Hugh",3rd,52,male,0,0
1297,1298,"Williams, Mr Leslie",3rd,28,male,0,0
1298,1299,"Windelov, Mr Einar",3rd,21,male,0,0
1299,1300,"Wirz, Mr Albert",3rd,27,male,0,0
1300,1301,"Wiseman, Mr Phillippe",3rd,52,male,0,0
1301,1302,"Wittevrongel, Mr Camiel",3rd,36,male,0,0
1303,1304,"Yasbeck, Mr Antoni",3rd,27,male,0,0
1305,1306,"Youssef, Mr Gerios",3rd,52,male,0,0
1306,1307,"Zabour, Miss Hileni",3rd,52,female,0,1
1307,1308,"Zabour, Miss Tamini",3rd,52,female,0,1
1308,1309,"Zakarian, Mr Artun",3rd,27,male,0,0
1309,1310,"Zakarian, Mr Maprieder",3rd,26,male,0,0
1310,1311,"Zenni, Mr Philip",3rd,22,male,0,0
1311,1312,"Lievens, Mr Rene",3rd,24,male,0,0
1312,1313,"Zimmerman, Leo",3rd,29,male,0,0

In [51]:
gen2 = ['male']

In [52]:
df = titanic[titanic.Sex.isin(gen2)]

In [114]:
titanic[titanic.Sex.isin(gen2)].count()

Unnamed: 0    851
Name          851
PClass        851
Age           851
Sex           851
Survived      851
SexCode       851
dtype: int64

In [59]:
s = df[df.Survived.isin(['1'])]

In [61]:
s.count()

Unnamed: 0    142
Name          142
PClass        142
Age            96
Sex           142
Survived      142
SexCode       142
dtype: int64

In [72]:
titanic['Age'] = titanic['Age'].fillna(52)

In [74]:
titanic['Age'] = titanic['Age'].astype(int)

In [75]:
df = titanic[titanic.Age < 18]

In [77]:
titanic.head()

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0,male,1,0

In [78]:
titanic1 = pd.read_csv('Titanic.csv')

In [79]:
titanic1

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
5,6,"Anderson, Mr Harry",1st,47.00,male,1,0
6,7,"Andrews, Miss Kornelia Theodosia",1st,63.00,female,1,1
7,8,"Andrews, Mr Thomas, jr",1st,39.00,male,0,0
8,9,"Appleton, Mrs Edward Dale (Charlotte Lamson)",1st,58.00,female,1,1
9,10,"Artagaveytia, Mr Ramon",1st,71.00,male,0,0
10,11,"Astor, Colonel John Jacob",1st,47.00,male,0,0
11,12,"Astor, Mrs John Jacob (Madeleine Talmadge Force)",1st,19.00,female,1,1
12,13,"Aubert, Mrs Leontine Pauline",1st,NaN,female,1,1
13,14,"Barkworth, Mr Algernon H",1st,NaN,male,1,0
14,15,"Baumann, Mr John D",1st,NaN,male,0,0
15,16,"Baxter, Mrs James (Helene DeLaudeniere Chaput)",1st,50.00,female,1,1
16,17,"Baxter, Mr Quigg Edmond",1st,24.00,male,0,0
17,18,"Beattie, Mr Thomson",1st,36.00,male,0,0
18,19,"Beckwith, Mr Richard Leonard",1st,37.00,male,1,0
19,20,"Beckwith, Mrs Richard Leonard (Sallie Monypeny)",1st,47.00,female,1,1
20,21,"Behr, Mr Karl Howell",1st,26.00,male,1,0
21,22,"Birnbaum, Mr Jakob",1st,25.00,male,0,0
22,23,"Bishop, Mr Dickinson H",1st,25.00,male,1,0
23,24,"Bishop, Mrs Dickinson H (Helen Walton)",1st,19.00,female,1,1
24,25,"Bjornstrm-Steffansson, Mr Mauritz Hakan",1st,28.00,male,1,0
25,26,"Blackwell, Mr Stephen Weart",1st,45.00,male,0,0
26,27,"Blank, Mr Henry",1st,39.00,male,1,0
27,28,"Bonnell, Miss Caroline",1st,30.00,female,1,1
28,29,"Bonnell, Miss Elizabeth",1st,58.00,female,1,1
29,30,"Borebank, Mr John James",1st,NaN,male,0,0
...,...,...,...,...,...,...,...
1283,1284,"Vestrom, Miss Hulda Amanda Adolfina",3rd,14.00,female,0,1
1284,1285,"Vonk, Mr Jenko",3rd,22.00,male,0,0
1285,1286,"Ware, Mr Frederick",3rd,NaN,male,0,0
1286,1287,"Warren, Mr Charles William",3rd,NaN,male,0,0
1287,1288,"Wazli, Mr Yousif",3rd,NaN,male,0,0
1288,1289,"Webber, Mr James",3rd,NaN,male,0,0
1289,1290,"Wennerstrom, Mr August Edvard",3rd,NaN,male,1,0
1290,1291,"Wenzel, Mr Linhart",3rd,NaN,male,0,0
1291,1292,"Widegren, Mr Charles Peter",3rd,51.00,male,0,0
1292,1293,"Wiklund, Mr Jacob Alfred",3rd,18.00,male,0,0
1293,1294,"Wilkes, Mrs Ellen",3rd,45.00,female,1,1
1294,1295,"Willer, Mr Aaron",3rd,NaN,male,0,0
1295,1296,"Willey, Mr Edward",3rd,NaN,male,0,0
1296,1297,"Williams, Mr Howard Hugh",3rd,NaN,male,0,0
1297,1298,"Williams, Mr Leslie",3rd,28.00,male,0,0
1298,1299,"Windelov, Mr Einar",3rd,21.00,male,0,0
1299,1300,"Wirz, Mr Albert",3rd,27.00,male,0,0
1300,1301,"Wiseman, Mr Phillippe",3rd,NaN,male,0,0
1301,1302,"Wittevrongel, Mr Camiel",3rd,36.00,male,0,0
1302,1303,"Yalsevac, Mr Ivan",3rd,NaN,male,1,0
1303,1304,"Yasbeck, Mr Antoni",3rd,27.00,male,0,0
1304,1305,"Yasbeck, Mrs Antoni",3rd,15.00,female,1,1
1305,1306,"Youssef, Mr Gerios",3rd,NaN,male,0,0
1306,1307,"Zabour, Miss Hileni",3rd,NaN,female,0,1
1307,1308,"Zabour, Miss Tamini",3rd,NaN,female,0,1
1308,1309,"Zakarian, Mr Artun",3rd,27.00,male,0,0
1309,1310,"Zakarian, Mr Maprieder",3rd,26.00,male,0,0
1310,1311,"Zenni, Mr Philip",3rd,22.00,male,0,0
1311,1312,"Lievens, Mr Rene",3rd,24.00,male,0,0
1312,1313,"Zimmerman, Leo",3rd,29.00,male,0,0

In [80]:
df1 = titanic1['Age']

In [85]:
df1.count()

756

In [87]:
df1[1]

2.0

In [88]:
for i in range(df1.count()):
    if df1[i] < 1:
        df1[i]= df1[i]*100

/home/mak/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [89]:
df1.head()

0    29.0
1     2.0
2    30.0
3    25.0
4    92.0
Name: Age, dtype: float64

In [ ]:
df1

In [98]:
df1

0       29.0
1        2.0
2       30.0
3       25.0
4       92.0
5       47.0
6       63.0
7       39.0
8       58.0
9       71.0
10      47.0
11      19.0
12       NaN
13       NaN
14       NaN
15      50.0
16      24.0
17      36.0
18      37.0
19      47.0
20      26.0
21      25.0
22      25.0
23      19.0
24      28.0
25      45.0
26      39.0
27      30.0
28      58.0
29       NaN
        ...
1283    14.0
1284    22.0
1285     NaN
1286     NaN
1287     NaN
1288     NaN
1289     NaN
1290     NaN
1291    51.0
1292    18.0
1293    45.0
1294     NaN
1295     NaN
1296     NaN
1297    28.0
1298    21.0
1299    27.0
1300     NaN
1301    36.0
1302     NaN
1303    27.0
1304    15.0
1305     NaN
1306     NaN
1307     NaN
1308    27.0
1309    26.0
1310    22.0
1311    24.0
1312    29.0
Name: Age, Length: 1313, dtype: float64

In [100]:
df1 = df1.fillna(19)

In [104]:
df1 = df1.to_frame()

In [105]:
s = df1[df1.Age < 18]

In [106]:
s

        Age
1      2.00
49    14.00
50    11.00
83    17.00
86     4.00
140   16.00
164   16.00
169   15.00
202   17.00
221   13.00
242    6.00
263   17.00
338    4.00
339    1.00
340   12.00
347   15.00
376    8.00
384    8.00
397    8.00
413   16.00
425    1.00
428    6.00
433    7.00
455   17.00
478    1.00
479    3.00
491    2.00
501   13.00
512    2.00
514    3.00
...     ...
742   17.00
757   17.00
762    1.00
763    0.17
788   16.00
794    5.00
808    9.00
810   16.00
817   16.00
821    9.00
826   14.00
827   16.00
828    9.00
829   10.00
830    6.00
831   11.00
840   17.00
866    2.00
883   17.00
893    1.00
895    4.00
908   17.00
914    4.00
933    4.00
936    1.50
1188   1.50
1272  15.00
1276  10.00
1283  14.00
1304  15.00

[91 rows x 1 columns]

In [110]:
x = titanic1[titanic1.Age < 18 ]

In [111]:
x

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
49,50,"Carter, Miss Lucile Polk",1st,14.00,female,1,1
50,51,"Carter, Master William T II",1st,11.00,male,1,0
83,84,"Dick, Mrs Albert Adrian Vera Gillespie",1st,17.00,female,1,1
86,87,"Dodge, Master Washington",1st,4.00,male,1,0
140,141,"Hippach, Miss Jean Gertrude",1st,16.00,female,1,1
164,165,"Lines, Miss Mary Conover",1st,16.00,female,1,1
169,170,"Madill, Miss Georgette Alexandra",1st,15.00,female,1,1
202,203,"Penasco, Mrs Victor de Satode (Josefa de Soto)",1st,17.00,female,1,1
221,222,"Ryerson, Master John Borie",1st,13.00,male,1,0
242,243,"Spedden, Master Robert Douglas",1st,6.00,male,1,0
263,264,"Thayer, Mr John Borland, jr",1st,17.00,male,1,0
338,339,"Becker, Miss Marion Louise",2nd,4.00,female,1,1
339,340,"Becker, Master Richard F",2nd,1.00,male,1,0
340,341,"Becker, Miss Ruth Elizabeth",2nd,12.00,female,1,1
347,348,"Brown, Miss Edith E",2nd,15.00,female,1,1
376,377,"Collyer, Miss Marjorie",2nd,8.00,female,1,1
384,385,"Davis, Master John Morgan",2nd,8.00,male,1,0
397,398,"Drew, Master Marshall Brines",2nd,8.00,male,1,0
413,414,"Gaskell, Mr Alfred",2nd,16.00,male,0,0
425,426,"Hamalainen, Master Viljo",2nd,1.00,male,1,0
428,429,"Harper, Miss Nina",2nd,6.00,female,1,1
433,434,"Hart, Miss Eva Miriam",2nd,7.00,female,1,1
455,456,"Ilett, Miss Bertha",2nd,17.00,female,1,1
478,479,"LaRoche, Miss Louise",2nd,1.00,female,1,1
479,480,"LaRoche, Miss Simonne",2nd,3.00,female,1,1
491,492,"Mallet, Master Andre",2nd,2.00,male,1,0
501,502,"Mellenger, Miss Madeleine Violet",2nd,13.00,female,1,1
512,513,"Navratil, Master Edmond Roger",2nd,2.00,male,1,0
514,515,"Navratil, Master Michel M",2nd,3.00,male,1,0
...,...,...,...,...,...,...,...
742,743,"Cribb, Miss Laura Alice",3rd,17.00,female,1,1
757,758,"Davies, Mr Joseph",3rd,17.00,male,0,0
762,763,"Dean, Master Bertram Vere",3rd,1.00,male,1,0
763,764,"Dean, Miss Elizabeth Gladys (Millvena)",3rd,0.17,female,1,1
788,789,"Eklund, Mr Hans Linus",3rd,16.00,male,0,0
794,795,"Emanuel, Miss Virginia Ethel",3rd,5.00,female,1,1
808,809,"Ford, Miss Maggie",3rd,9.00,female,0,1
810,811,"Ford, Mr Neil Watson",3rd,16.00,male,0,0
817,818,"Gilnagh, Miss Katie",3rd,16.00,female,1,1
821,822,"Goldsmith, Master Frank John William",3rd,9.00,male,1,0
826,827,"Goodwin, Mr Charles E",3rd,14.00,male,0,0
827,828,"Goodwin, Miss Lillian A",3rd,16.00,female,0,1
828,829,"Goodwin, Master Harold V",3rd,9.00,male,0,0
829,830,"Goodwin, Miss Jessie A",3rd,10.00,female,0,1
830,831,"Goodwin, Master Sidney L",3rd,6.00,male,0,0
831,832,"Goodwin, Master William F",3rd,11.00,male,0,0
840,841,"Hagardon, Miss Kate",3rd,17.00,female,0,1
866,867,"Hirvonen, Miss Hildur E",3rd,2.00,female,0,1
883,884,"Jensen, Mr Svend Lauritz",3rd,17.00,male,0,0
893,894,"Johnson, Miss Eleanor Ileen",3rd,1.00,female,1,1
895,896,"Johnson, Master Harold Theodor",3rd,4.00,male,1,0
908,909,"Kallio, Mr Nikolai Erland",3rd,17.00,male,0,0
914,915,"Karun, Miss Anna Mary",3rd,4.00,female,1,1
933,934,"Kink, Miss Louise Gretchen",3rd,4.00,female,1,1
936,937,"Klasen, Miss Gertrud Emilia",3rd,1.50,female,0,1
1188,1189,"Sandstrom, Miss Beatrice Irene",3rd,1.50,female,0,1
1272,1273,"Van der Planke, Mr Leon",3rd,15.00,male,0,0
1276,1277,"Van Impe, Miss Catharine",3rd,10.00,female,0,1
1283,1284,"Vestrom, Miss Hulda Amanda Adolfina",3rd,14.00,female,0,1
1304,1305,"Yasbeck, Mrs Antoni",3rd,15.00,female,1,1

In [113]:
x[x.Survived == 1].count()

Unnamed: 0    54
Name          54
PClass        54
Age           54
Sex           54
Survived      54
SexCode       54
dtype: int64

In [116]:
frs = titanic1[titanic1.PClass.isin(['1st'])]

In [141]:
fsrfe = frs[frs.Sex.isin(['male'])]

In [147]:
d = fsrfe.sort_values(['Age'], ascending = False)

In [124]:
(134/143)*100

93.7062937062937

In [148]:
d[d.Survived.isin(['1'])]

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
4,5,"Allison, Master Hudson Trevor",1st,92.0,male,1,0
110,111,"Frolicher-Stehli, Mr Maxmillian",1st,60.0,male,1,0
231,232,"Simonius-Blumer, Col Alfons",1st,56.0,male,1,0
247,248,"Stengel, Mr Charles Emil Henry",1st,54.0,male,1,0
120,121,"Gracie, Colonel Archibald IV",1st,54.0,male,1,0
203,204,"Peuchen, Major Arthur Godfrey",1st,52.0,male,1,0
90,91,"Duff Gordon, Sir Cosmo Edmund",1st,49.0,male,1,0
106,107,"Frauenthal, Dr Henry William",1st,49.0,male,1,0
150,151,"Ismay, Mr Joseph Bruce",1st,49.0,male,1,0
117,118,"Goldenberg, Mr Samuel L",1st,49.0,male,1,0
259,260,"Taylor, Mr Elmer Zebley",1st,48.0,male,1,0
129,130,"Harper, Mr Henry Sleeper",1st,48.0,male,1,0
5,6,"Anderson, Mr Harry",1st,47.0,male,1,0
240,241,"Spedden, Mr Frederick Oakley",1st,45.0,male,1,0
108,109,"Frauenthal, Mr Isaac Gerald",1st,44.0,male,1,0
156,157,"Kimball, Mr Edwin Nelson Jr",1st,42.0,male,1,0
26,27,"Blank, Mr Henry",1st,39.0,male,1,0
146,147,"Hoyt, Mr Frederick Maxfield",1st,38.0,male,1,0
18,19,"Beckwith, Mr Richard Leonard",1st,37.0,male,1,0
43,44,"Cardeza, Mr Thomas Drake Martinez",1st,36.0,male,1,0
47,48,"Carter, Mr William Ernest",1st,36.0,male,1,0
228,229,"Silverthorne, Mr Spencer Victor",1st,36.0,male,1,0
176,177,"McGough, Mr James R",1st,36.0,male,1,0
145,146,"Homer, Mr Harry",1st,35.0,male,1,0
226,227,"Seward, Mr Frederic Kimber",1st,34.0,male,1,0
245,246,"Staehlin, Dr Max",1st,32.0,male,1,0
82,83,"Dick, Mr Albert Adrian",1st,31.0,male,1,0
266,267,"Tucker, Mr Gilbert Milligan, jr",1st,31.0,male,1,0
232,233,"Sloper, Mr William Thompson",1st,28.0,male,1,0
24,25,"Bjornstrm-Steffansson, Mr Mauritz Hakan",1st,28.0,male,1,0
57,58,"Chambers, Mr Norman Campbell",1st,27.0,male,1,0
78,79,"Daniel, Mr Robert Williams",1st,27.0,male,1,0
20,21,"Behr, Mr Karl Howell",1st,26.0,male,1,0
127,128,"Harder, Mr George Achilles",1st,25.0,male,1,0
22,23,"Bishop, Mr Dickinson H",1st,25.0,male,1,0
238,239,"Snyder, Mr John Pillsbury",1st,24.0,male,1,0
125,126,"Greenfield, Mr William Bertram",1st,23.0,male,1,0
285,286,"Williams, Mr Richard Norris II",1st,21.0,male,1,0
263,264,"Thayer, Mr John Borland, jr",1st,17.0,male,1,0
221,222,"Ryerson, Master John Borie",1st,13.0,male,1,0
50,51,"Carter, Master William T II",1st,11.0,male,1,0
242,243,"Spedden, Master Robert Douglas",1st,6.0,male,1,0
86,87,"Dodge, Master Washington",1st,4.0,male,1,0
13,14,"Barkworth, Mr Algernon H",1st,NaN,male,1,0
32,33,"Bradley, Mr George",1st,NaN,male,1,0
40,41,"Calderhead, Mr Edward P",1st,NaN,male,1,0
60,61,"Chevre, Mr Paul",1st,NaN,male,1,0
77,78,"Daly, Mr Peter Denis",1st,NaN,male,1,0
84,85,"Dodge, Dr Washington",1st,NaN,male,1,0
97,98,"Flynn, Mr John Irving",1st,NaN,male,1,0
133,134,"Hawksford, Mr Walter James",1st,NaN,male,1,0
171,172,"Marechal, Mr Pierre",1st,NaN,male,1,0
183,184,"Mock, Mr Philip E",1st,NaN,male,1,0
192,193,"Omont, Mr A Fernand",1st,NaN,male,1,0
207,208,"Rheims, Mr George Lucien",1st,NaN,male,1,0
210,211,"Romaine, Mr Charles Hallace",1st,NaN,male,1,0
223,224,"Saalfeld, Mr Adolphe",1st,NaN,male,1,0
224,225,"Salomon, Mr Abraham L",1st,NaN,male,1,0
286,287,"Woolner, Mr Hugh",1st,NaN,male,1,0

In [133]:
a = titanic1.sort_values(['Age'],ascending= False)

In [136]:
b  = a[a.Sex.isin(['male'])]

In [138]:
c = b[b.Survived.isin(['1'])]

In [139]:
d = c[c.PClass.isin(['3rd'])]

In [140]:
d

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
616,617,"Aks, Master Philip",3rd,83.0,male,1,0
744,745,"Dahl, Mr Charles Edward",3rd,45.0,male,1,0
931,932,"Kink, Mr Anton",3rd,39.0,male,1,0
765,766,"De Messemaeker, Mr William Joseph",3rd,36.0,male,1,0
906,907,"Jussila, Mr Erik",3rd,32.0,male,1,0
903,904,"Jonsson, Mr Carl",3rd,32.0,male,1,0
889,890,"Johansson, Mr Karl Johan",3rd,32.0,male,1,0
673,674,"Bing, Mr Lee",3rd,32.0,male,1,0
767,768,"De Mulder, Mr Theo",3rd,30.0,male,1,0
747,748,"Daly, Mr Eugene",3rd,29.0,male,1,0
878,879,"Jansen, Mr Carl Olof",3rd,27.0,male,1,0
855,856,"Hedman, Mr Oscar",3rd,27.0,male,1,0
948,949,"Lang, Mr Fang",3rd,26.0,male,1,0
891,892,"Johansson, Oscar L",3rd,26.0,male,1,0
1258,1259,"Tornquist, Mr William Henry",3rd,25.0,male,1,0
940,941,"Krekorian, Mr Neshan",3rd,25.0,male,1,0
607,608,"Abelseth, Mr Olaus",3rd,25.0,male,1,0
783,784,"Duquemin, Mr Joseph",3rd,24.0,male,1,0
646,647,"Asplund, Mr John Charles",3rd,23.0,male,1,0
1279,1280,"Vartunian, Mr David",3rd,22.0,male,1,0
911,912,"Karlsson, Mr Einar Gervasius",3rd,21.0,male,1,0
692,693,"Buckley, Mr Daniel",3rd,21.0,male,1,0
968,969,"Lindqvist, Eino William",3rd,20.0,male,1,0
609,610,"Abrahamsson, Mr August",3rd,20.0,male,1,0
777,778,"Dorkings, Mr Edward Arthur",3rd,19.0,male,1,0
722,723,"Cohen, Mr Gurshon (Gus)",3rd,19.0,male,1,0
738,739,"Coutts, Master William Leslie",3rd,9.0,male,1,0
821,822,"Goldsmith, Master Frank John William",3rd,9.0,male,1,0
895,896,"Johnson, Master Harold Theodor",3rd,4.0,male,1,0
644,645,"Aspland, Master Edvin Rojj Felix",3rd,3.0,male,1,0
737,738,"Coutts, Master Neville",3rd,3.0,male,1,0
762,763,"Dean, Master Bertram Vere",3rd,1.0,male,1,0
713,714,"Cassem, Mr Nassef Belmenly",3rd,NaN,male,1,0
798,799,"Finoli, Mr Luigi",3rd,NaN,male,1,0
804,805,"Foo, Mr Choong",3rd,NaN,male,1,0
873,874,"Hyman, Mr Abraham",3rd,NaN,male,1,0
944,945,"Lam, Mr Ali",3rd,NaN,male,1,0
952,953,"Leeni, Mr Fahim",3rd,NaN,male,1,0
976,977,"Lulich, Mr Nicola",3rd,NaN,male,1,0
988,989,"Mamee, Mr Hanna",3rd,NaN,male,1,0
1016,1017,"Midtsjo, Mr Karl Albert",3rd,NaN,male,1,0
1033,1034,"Moubarek (Borak), Mr Hanna (John)",3rd,NaN,male,1,0
1072,1073,"Novel, Mansouer",3rd,NaN,male,1,0
1081,1082,"Odahl, Mr Nils Martin",3rd,NaN,male,1,0
1092,1093,"Olsson, Mr Oscar Johansson",3rd,NaN,male,1,0
1122,1123,"Pekoniemi, Mr Edvard",3rd,NaN,male,1,0
1125,1126,"Persson, Mr Ernst Ulrik",3rd,NaN,male,1,0
1136,1137,"Pickard (Trembisky), Mr Berk",3rd,NaN,male,1,0
1164,1165,"Ryan, Mr Edward Ryan",3rd,NaN,male,1,0
1167,1168,"Saad, Khalil",3rd,NaN,male,1,0
1199,1200,"Sheerlinck, Mr Jean",3rd,NaN,male,1,0
1222,1223,"Sop, Mr Jules",3rd,NaN,male,1,0
1231,1232,"Stranden, Mr Juho",3rd,NaN,male,1,0
1235,1236,"Sunderland, Mr Victor Francis",3rd,NaN,male,1,0
1239,1240,"Svensson, Mr Johan Cervin",3rd,NaN,male,1,0
1242,1243,"Tenglin, Mr Gunnar Isidor",3rd,NaN,male,1,0
1289,1290,"Wennerstrom, Mr August Edvard",3rd,NaN,male,1,0
1302,1303,"Yalsevac, Mr Ivan",3rd,NaN,male,1,0

ASSIGNMENT WEEK 4

In [150]:
matches = pd.read_csv('matches.csv')

In [151]:
matches.shape

(636, 18)

In [157]:
matches.iloc[-1]

id                                                       636
season                                                  2017
city                                               Hyderabad
date                                              2017-05-21
team1                                         Mumbai Indians
team2                                 Rising Pune Supergiant
toss_winner                                   Mumbai Indians
toss_decision                                            bat
result                                                normal
dl_applied                                                 0
winner                                        Mumbai Indians
win_by_runs                                                1
win_by_wickets                                             0
player_of_match                                    KH Pandya
venue              Rajiv Gandhi International Stadium, Uppal
umpire1                                             NJ Llong
umpire2                                               S Ravi
umpire3                                                  NaN
Name: 635, dtype: object

In [159]:
# 2. Create a slice of this dataframe to only show the details 
#from index 517 to 576 and columns id, season, city and date. Print the output.
matches.loc['517':'576',['id','season','city','date']]

      id  season           city        date
517  518    2016         Mumbai  2016-04-09
518  519    2016        Kolkata  2016-04-10
519  520    2016     Chandigarh  2016-04-11
520  521    2016      Bangalore  2016-04-12
521  522    2016        Kolkata  2016-04-13
522  523    2016         Rajkot  2016-04-14
523  524    2016          Delhi  2016-04-15
524  525    2016      Hyderabad  2016-04-16
525  526    2016         Mumbai  2016-04-16
526  527    2016     Chandigarh  2016-04-17
527  528    2016      Bangalore  2016-04-17
528  529    2016      Hyderabad  2016-04-18
529  530    2016     Chandigarh  2016-04-19
530  531    2016         Mumbai  2016-04-20
531  532    2016         Rajkot  2016-04-21
532  533    2016           Pune  2016-04-22
533  534    2016          Delhi  2016-04-23
534  535    2016      Hyderabad  2016-04-23
535  536    2016         Rajkot  2016-04-24
536  537    2016           Pune  2016-04-24
537  538    2016     Chandigarh  2016-04-25
538  539    2016      Hyderabad  2016-04-26
539  540    2016          Delhi  2016-04-27
540  541    2016         Mumbai  2016-04-28
541  542    2016           Pune  2016-04-29
542  543    2016          Delhi  2016-04-30
543  544    2016      Hyderabad  2016-04-30
544  545    2016         Rajkot  2016-05-01
545  546    2016           Pune  2016-05-01
546  547    2016      Bangalore  2016-05-02
547  548    2016         Rajkot  2016-05-03
548  549    2016        Kolkata  2016-05-04
549  550    2016          Delhi  2016-05-05
550  551    2016      Hyderabad  2016-05-06
551  552    2016      Bangalore  2016-05-07
552  553    2016     Chandigarh  2016-05-07
553  554    2016  Visakhapatnam  2016-05-08
554  555    2016        Kolkata  2016-05-08
555  556    2016     Chandigarh  2016-05-09
556  557    2016  Visakhapatnam  2016-05-10
557  558    2016      Bangalore  2016-05-11
558  559    2016      Hyderabad  2016-05-12
559  560    2016  Visakhapatnam  2016-05-13
560  561    2016      Bangalore  2016-05-14
561  562    2016        Kolkata  2016-05-14
562  563    2016     Chandigarh  2016-05-15
563  564    2016  Visakhapatnam  2016-05-15
564  565    2016        Kolkata  2016-05-16
565  566    2016  Visakhapatnam  2016-05-17
566  567    2016      Bangalore  2016-05-18
567  568    2016         Kanpur  2016-05-19
568  569    2016         Raipur  2016-05-20
569  570    2016  Visakhapatnam  2016-05-21
570  571    2016         Kanpur  2016-05-21
571  572    2016        Kolkata  2016-05-22
572  573    2016         Raipur  2016-05-22
573  574    2016      Bangalore  2016-05-24
574  575    2016          Delhi  2016-05-25
575  576    2016          Delhi  2016-05-27
576  577    2016      Bangalore  2016-05-29

In [166]:
matches.iloc[247]['date']

'2011-05-28'

In [168]:
# 4. Create a new dataframe called matches_compact which
#contains only the id, season, date and winner. 
#What is the shape of the matches_compact?
matches_compact = matches.loc[:,['id','season','winner']]

In [170]:
matches_compact.shape

(636, 3)

In [184]:
matches_compact[matches_compact.season.isin(['2010'])]['id']

115    116
116    117
117    118
118    119
119    120
120    121
121    122
122    123
123    124
124    125
125    126
126    127
127    128
128    129
129    130
130    131
131    132
132    133
133    134
134    135
135    136
136    137
137    138
138    139
139    140
140    141
141    142
142    143
143    144
144    145
145    146
146    147
147    148
148    149
149    150
150    151
151    152
152    153
153    154
154    155
155    156
156    157
157    158
158    159
159    160
160    161
161    162
162    163
163    164
164    165
165    166
166    167
167    168
168    169
169    170
170    171
171    172
172    173
173    174
174    175
Name: id, dtype: int64

In [180]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [191]:
maxwin = matches['win_by_runs'].max()
print("won by runs =",maxwin)
print("team = {}".format(matches[matches.win_by_runs.isin([maxwin])]['winner']))

won by runs = 146
team = 620    Mumbai Indians
Name: winner, dtype: object

In [192]:
matches[matches.win_by_runs.isin([maxwin])]['winner']

620    Mumbai Indians
Name: winner, dtype: object

In [196]:
team_names = {'Kolkata Knight Riders': 'KKR', 
              'Chennai Super Kings': 'CSK', 
              'Rajasthan Royals' : 'RR',
               'Mumbai Indians' : 'MI', 
              'Deccan Chargers' : 'DC', 
              'Kings XI Punjab' : 'KIXP',
               'Royal Challengers Bangalore' : 'RCB', 
              'Delhi Daredevils' : 'DD',
              'Kochi Tuskers Kerala' : 'KTK', 
              'Pune Warriors' : 'PW', 
              'Sunrisers Hyderabad' : 'SRH',
              'Rising Pune Supergiant' : 'RPS', 
              'Gujarat Lions' : 'GL'}

In [197]:
matches_1 = matches.replace(team_names)

In [198]:
matches_1

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,KKR,RCB,RCB,field,normal,0,KKR,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,CSK,KIXP,CSK,bat,normal,0,CSK,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,RR,DD,RR,bat,normal,0,DD,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,MI,RCB,MI,bat,normal,0,RCB,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,DC,KKR,DC,bat,normal,0,KKR,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN
5,6,2008,Jaipur,2008-04-21,KIXP,RR,KIXP,bat,normal,0,RR,0,6,SR Watson,Sawai Mansingh Stadium,Aleem Dar,RB Tiffin,NaN
6,7,2008,Hyderabad,2008-04-22,DC,DD,DC,bat,normal,0,DD,0,9,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",IL Howell,AM Saheba,NaN
7,8,2008,Chennai,2008-04-23,CSK,MI,MI,field,normal,0,CSK,6,0,ML Hayden,"MA Chidambaram Stadium, Chepauk",DJ Harper,GA Pratapkumar,NaN
8,9,2008,Hyderabad,2008-04-24,DC,RR,RR,field,normal,0,RR,0,3,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,MR Benson,NaN
9,10,2008,Chandigarh,2008-04-25,KIXP,MI,MI,field,normal,0,KIXP,66,0,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",Aleem Dar,AM Saheba,NaN
10,11,2008,Bangalore,2008-04-26,RCB,RR,RR,field,normal,0,RR,0,7,SR Watson,M Chinnaswamy Stadium,MR Benson,IL Howell,NaN
11,12,2008,Chennai,2008-04-26,KKR,CSK,KKR,bat,normal,0,CSK,0,9,JDP Oram,"MA Chidambaram Stadium, Chepauk",BF Bowden,AV Jayaprakash,NaN
12,13,2008,Mumbai,2008-04-27,MI,DC,DC,field,normal,0,DC,0,10,AC Gilchrist,Dr DY Patil Sports Academy,Asad Rauf,SL Shastri,NaN
13,14,2008,Chandigarh,2008-04-27,DD,KIXP,DD,bat,normal,0,KIXP,0,4,SM Katich,"Punjab Cricket Association Stadium, Mohali",RE Koertzen,I Shivram,NaN
14,15,2008,Bangalore,2008-04-28,CSK,RCB,CSK,bat,normal,0,CSK,13,0,MS Dhoni,M Chinnaswamy Stadium,BR Doctrove,RB Tiffin,NaN
15,16,2008,Kolkata,2008-04-29,KKR,MI,KKR,bat,normal,0,MI,0,7,ST Jayasuriya,Eden Gardens,BF Bowden,AV Jayaprakash,NaN
16,17,2008,Delhi,2008-04-30,DD,RCB,RCB,field,normal,0,DD,10,0,GD McGrath,Feroz Shah Kotla,Aleem Dar,I Shivram,NaN
17,18,2008,Hyderabad,2008-05-01,DC,KIXP,KIXP,field,normal,0,KIXP,0,7,SE Marsh,"Rajiv Gandhi International Stadium, Uppal",BR Doctrove,RB Tiffin,NaN
18,19,2008,Jaipur,2008-05-01,RR,KKR,RR,bat,normal,0,RR,45,0,SA Asnodkar,Sawai Mansingh Stadium,RE Koertzen,GA Pratapkumar,NaN
19,20,2008,Chennai,2008-05-02,CSK,DD,CSK,bat,normal,0,DD,0,8,V Sehwag,"MA Chidambaram Stadium, Chepauk",BF Bowden,K Hariharan,NaN
20,21,2008,Hyderabad,2008-05-25,DC,RCB,DC,bat,normal,0,RCB,0,5,R Vinay Kumar,"Rajiv Gandhi International Stadium, Uppal",Asad Rauf,RE Koertzen,NaN
21,22,2008,Chandigarh,2008-05-03,KIXP,KKR,KIXP,bat,normal,0,KIXP,9,0,IK Pathan,"Punjab Cricket Association Stadium, Mohali",DJ Harper,I Shivram,NaN
22,23,2008,Mumbai,2008-05-04,MI,DD,DD,field,normal,0,MI,29,0,SM Pollock,Dr DY Patil Sports Academy,IL Howell,RE Koertzen,NaN
23,24,2008,Jaipur,2008-05-04,CSK,RR,CSK,bat,normal,0,RR,0,8,Sohail Tanvir,Sawai Mansingh Stadium,Asad Rauf,AV Jayaprakash,NaN
24,25,2008,Bangalore,2008-05-05,RCB,KIXP,KIXP,field,normal,0,KIXP,0,6,S Sreesanth,M Chinnaswamy Stadium,SJ Davis,BR Doctrove,NaN
25,26,2008,Chennai,2008-05-06,CSK,DC,DC,field,normal,0,DC,0,7,AC Gilchrist,"MA Chidambaram Stadium, Chepauk",MR Benson,RB Tiffin,NaN
26,27,2008,Mumbai,2008-05-07,RR,MI,MI,field,normal,0,MI,0,7,A Nehra,Dr DY Patil Sports Academy,DJ Harper,RE Koertzen,NaN
27,28,2008,Delhi,2008-05-08,DD,CSK,CSK,field,normal,0,CSK,0,4,MS Dhoni,Feroz Shah Kotla,Aleem Dar,RB Tiffin,NaN
28,29,2008,Kolkata,2008-05-08,KKR,RCB,KKR,bat,normal,0,KKR,5,0,SC Ganguly,Eden Gardens,Asad Rauf,IL Howell,NaN
29,30,2008,Jaipur,2008-05-09,DC,RR,RR,field,normal,0,RR,0,8,YK Pathan,Sawai Mansingh Stadium,MR Benson,AM Saheba,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,607,2017,Bangalore,2017-04-27,RCB,GL,GL,field,normal,0,GL,0,7,AJ Tye,M Chinnaswamy Stadium,AK Chaudhary,C Shamshuddin,NaN
607,608,2017,Kolkata,2017-04-28,DD,KKR,KKR,field,normal,0,KKR,0,7,G Gambhir,Eden Gardens,NJ Llong,S Ravi,NaN
608,609,2017,Chandigarh,2017-04-28,SRH,KIXP,KIXP,field,normal,0,SRH,26,0,Rashid Khan,"Punjab Cricket Association IS Bindra Stadium, ...",Nitin Menon,CK Nandan,NaN
609,610,2017,Pune,2017-04-29,RPS,RCB,RCB,field,normal,0,RPS,61,0,LH Ferguson,Maharashtra Cricket Association Stadium,KN Ananthapadmanabhan,M Erasmus,NaN
610,611,2017,Rajkot,2017-04-29,GL,MI,GL,bat,tie,0,MI,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,NaN
611,612,2017,Chandigarh,2017-04-30,DD,KIXP,KIXP,field,normal,0,KIXP,0,10,Sandeep Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",YC Barde,CK Nandan,NaN
612,613,2017,Hyderabad,2017-04-30,SRH,KKR,KKR,field,normal,0,SRH,48,0,DA Warner,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,S Ravi,NaN
613,614,2017,Mumbai,2017-05-01,RCB,MI,RCB,bat,normal,0,MI,0,5,RG Sharma,Wankhede Stadium,AK Chaudhary,CB Gaffaney,NaN
614,615,2017,Pune,2017-05-01,GL,RPS,RPS,field,normal,0,RPS,0,5,BA Stokes,Maharashtra Cricket Association Stadium,M Erasmus,C Shamshuddin,NaN
615,616,2017,Delhi,2017-05-02,SRH,DD,DD,field,normal,0,DD,0,6,Mohammed Shami,Feroz Shah Kotla,YC Barde,Nitin Menon,NaN
616,617,2017,Kolkata,2017-05-03,KKR,RPS,RPS,field,normal,0,RPS,0,4,RA Tripathi,Eden Gardens,KN Ananthapadmanabhan,A Nand Kishore,NaN
617,618,2017,Delhi,2017-05-04,GL,DD,DD,field,normal,0,DD,0,7,RR Pant,Feroz Shah Kotla,M Erasmus,Nitin Menon,NaN
618,619,2017,Bangalore,2017-05-05,KIXP,RCB,RCB,field,normal,0,KIXP,19,0,Sandeep Sharma,M Chinnaswamy Stadium,CB Gaffaney,C Shamshuddin,NaN
619,620,2017,Hyderabad,2017-05-06,RPS,SRH,SRH,field,normal,0,RPS,12,0,JD Unadkat,"Rajiv Gandhi International Stadium, Uppal",KN Ananthapadmanabhan,AK Chaudhary,NaN
620,621,2017,Delhi,2017-05-06,MI,DD,DD,field,normal,0,MI,146,0,LMP Simmons,Feroz Shah Kotla,Nitin Menon,CK Nandan,NaN
621,622,2017,Bangalore,2017-05-07,RCB,KKR,KKR,field,normal,0,KKR,0,6,SP Narine,M Chinnaswamy Stadium,AY Dandekar,C Shamshuddin,NaN
622,623,2017,Chandigarh,2017-05-07,KIXP,GL,GL,field,normal,0,GL,0,6,DR Smith,"Punjab Cricket Association IS Bindra Stadium, ...",A Nand Kishore,VK Sharma,NaN
623,624,2017,Hyderabad,2017-05-08,MI,SRH,MI,bat,normal,0,SRH,0,7,S Dhawan,"Rajiv Gandhi International Stadium, Uppal",KN Ananthapadmanabhan,M Erasmus,NaN
624,625,2017,Chandigarh,2017-05-09,KIXP,KKR,KKR,field,normal,0,KIXP,14,0,MM Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",A Nand Kishore,S Ravi,NaN
625,626,2017,Kanpur,2017-05-10,GL,DD,DD,field,normal,0,DD,0,2,SS Iyer,Green Park,YC Barde,AK Chaudhary,NaN
626,627,2017,Mumbai,2017-05-11,KIXP,MI,MI,field,normal,0,KIXP,7,0,WP Saha,Wankhede Stadium,A Deshmukh,A Nand Kishore,NaN
627,628,2017,Delhi,2017-05-12,DD,RPS,DD,bat,normal,0,DD,7,0,KK Nair,Feroz Shah Kotla,KN Ananthapadmanabhan,CK Nandan,NaN
628,629,2017,Kanpur,2017-05-13,GL,SRH,SRH,field,normal,0,SRH,0,8,Mohammed Siraj,Green Park,AK Chaudhary,Nitin Menon,NaN
629,630,2017,Kolkata,2017-05-13,MI,KKR,KKR,field,normal,0,MI,9,0,AT Rayudu,Eden Gardens,A Nand Kishore,S Ravi,NaN
630,631,2017,Pune,2017-05-14,KIXP,RPS,RPS,field,normal,0,RPS,0,9,JD Unadkat,Maharashtra Cricket Association Stadium,AY Dandekar,A Deshmukh,NaN
631,632,2017,Delhi,2017-05-14,RCB,DD,RCB,bat,normal,0,RCB,10,0,HV Patel,Feroz Shah Kotla,CK Nandan,C Shamshuddin,NaN
632,633,2017,Mumbai,2017-05-16,RPS,MI,MI,field,normal,0,RPS,20,0,Washington Sundar,Wankhede Stadium,S Ravi,C Shamshuddin,NaN
633,634,2017,Bangalore,2017-05-17,SRH,KKR,KKR,field,normal,1,KKR,0,7,NM Coulter-Nile,M Chinnaswamy Stadium,AK Chaudhary,Nitin Menon,NaN
634,635,2017,Bangalore,2017-05-19,KKR,MI,MI,field,normal,0,MI,0,6,KV Sharma,M Chinnaswamy Stadium,NJ Llong,Nitin Menon,NaN
635,636,2017,Hyderabad,2017-05-21,MI,RPS,MI,bat,normal,0,MI,1,0,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",NJ Llong,S Ravi,NaN

In [225]:
# 8. Find out in which stadium the maximum number of matches have been played 
#and in which stadium minimum? 
# What is the highest and the lowest number? Show the code.
a = matches_1.groupby(['venue']).venue.count().sort_values(ascending = False).tail(1)

In [226]:
a

venue
OUTsurance Oval    2
Name: venue, dtype: int64

In [44]:
df = pd.DataFrame({'val1':[4,np.nan,7,np.nan,np.nan,9,5, np.nan , 1,9,np.nan, np.nan,np.nan, 5, np.nan], 
                    'val2': [ np.nan, 5,7,np.nan, np.nan,8,3,np.nan, 4,np.nan, np.nan, np.nan,np.nan,21,np.nan]})

In [45]:
d = {'val1': {0: 4.0,1: 5.7142857142857144,2: 7.0,3: 5.7142857142857144,4: np.nan,5: 9.0,6: 5.0,7: np.nan,8: 1.0,9: 9.0,10: np.nan,11: np.nan,12: np.nan,13: 5.0,14: np.nan},
'val2': {0: 8.0,1: 5.0,2: 7.0,3: 8.0,4: np.nan,5: 8.0,6: 3.0,7: np.nan,8: 4.0,9: np.nan,10: np.nan,11: np.nan,12: np.nan,13: 21.0,14: np.nan}}

df_filled = pd.DataFrame(d)

In [20]:
df.val1[2]=df.val1.mean()

In [47]:
df.fillna(df.mean(),limit = 2)

        val1  val2
0   4.000000   8.0
1   5.714286   5.0
2   7.000000   7.0
3   5.714286   8.0
4        NaN   NaN
5   9.000000   8.0
6   5.000000   3.0
7        NaN   NaN
8   1.000000   4.0
9   9.000000   NaN
10       NaN   NaN
11       NaN   NaN
12       NaN   NaN
13  5.000000  21.0
14       NaN   NaN

In [38]:
for i in range(df.shape[0]-1):
     if df.val1[i].astype(int) == np.nan:
            flag = 0
            j = i
            while df.val1[j].astype(int) == np.nan:
                flag+=1
                j+=1
            if flag <= 2:
                df.val1[i] = df.val1.fillna(df.mean())

In [271]:
df2 = d

In [11]:
df = df.fillna(df.mean())

In [39]:
df

    val1  val2
0    4.0   NaN
1    NaN   5.0
2    7.0   7.0
3    NaN   NaN
4    NaN   NaN
5    9.0   8.0
6    5.0   3.0
7    NaN   NaN
8    1.0   4.0
9    9.0   NaN
10   NaN   NaN
11   NaN   NaN
12   NaN   NaN
13   5.0  21.0
14   NaN   NaN

In [26]:
for i in range(df.shape[0]-1):
    if df.val1[i].astype(int) == np.nan:
        df.val1[i] = df.val1.mean()

In [27]:
df

    val1  val2
0    4.0   NaN
1    NaN   5.0
2    7.0   7.0
3    NaN   NaN
4    NaN   NaN
5    9.0   8.0
6    5.0   3.0
7    NaN   NaN
8    1.0   4.0
9    9.0   NaN
10   NaN   NaN
11   NaN   NaN
12   NaN   NaN
13   5.0  21.0
14   NaN   NaN

In [37]:
for val1 in df.iterrows():
    print(val1.values)

AttributeError: 'tuple' object has no attribute 'values'

In [33]:
df

    val1  val2
0    4.0   NaN
1    NaN   5.0
2    7.0   7.0
3    NaN   NaN
4    NaN   NaN
5    9.0   8.0
6    5.0   3.0
7    NaN   NaN
8    1.0   4.0
9    9.0   NaN
10   NaN   NaN
11   NaN   NaN
12   NaN   NaN
13   5.0  21.0
14   NaN   NaN

In [89]:
df = pd.DataFrame({'val1':[9,15,71,9,5], 'val2': [8,31,10, 14,np.nan]})

In [90]:
# 10. For the dataframe given below, 
# Convert the NaN values to zero
# Add a row called diff with the 
#difference between minimum and maximum value in each column. 
#Try solving it using lambda function
# Add a column called diff with the difference between 
#minimum and maximum value in each row. 
# The final df should look like df_final shown below

In [91]:
df = df.fillna(0)

In [92]:
df

   val1  val2
0     9   8.0
1    15  31.0
2    71  10.0
3     9  14.0
4     5   0.0

In [93]:
diff = []

In [94]:
for i in range(5):
    if df.val1[i].astype(float) > df.val2[i].astype(float):
        diff.append(df.val1[i].astype(float)-df.val2[i].astype(float))
    else:
        diff.append(df.val2[i].astype(float)-df.val1[i].astype(float))

In [95]:
df_final = pd.DataFrame({'diff': {0: 1.0, 1: 16.0, 2: 61.0, 3: 5.0, 4: 5.0, 'diff': 35.0},
 'val1': {0: 9.0, 1: 15.0, 2: 71.0, 3: 9.0, 4: 5.0, 'diff': 66.0},
 'val2': {0: 8.0, 1: 31.0, 2: 10.0, 3: 14.0, 4: 0.0, 'diff': 31.0}})

df_final

      diff  val1  val2
0      1.0   9.0   8.0
1     16.0  15.0  31.0
2     61.0  71.0  10.0
3      5.0   9.0  14.0
4      5.0   5.0   0.0
diff  35.0  66.0  31.0

In [96]:
diff

[1.0, 16.0, 61.0, 5.0, 5.0]

In [114]:
df['diff']=diff

In [115]:
df

   val1  val2  diff
0     9   8.0   1.0
1    15  31.0  16.0
2    71  10.0  61.0
3     9  14.0   5.0
4     5   0.0   5.0

In [77]:
diff2 = {'diff':[32,45]}

In [78]:
diff2 = pd.DataFrame(diff2)

In [79]:
diff2.T

       0   1
diff  32  45

In [81]:
df.append(diff2.T)

      val1  val2  diff     0     1
0      9.0   8.0   1.0   NaN   NaN
1     15.0  31.0  16.0   NaN   NaN
2     71.0  10.0  61.0   NaN   NaN
3      9.0  14.0   5.0   NaN   NaN
4      5.0   0.0   5.0   NaN   NaN
diff   NaN   NaN   NaN  32.0  45.0

In [124]:
diff3 = {'diff':[]}

In [102]:
diff3.append(df.val1.max().astype(float)-df.val1.min().astype(float))

In [103]:
diff3.append(df.val2.max().astype(float)-df.val2.min().astype(float))

In [122]:
diff3

[66.0, 31.0, 60.0]

In [121]:
diff3.append(df['diff'].max().astype(float)-df['diff'].min().astype(float))

In [118]:
df['diff']=pd.to_numeric(df['diff'])

In [120]:
df['diff'].max()

61.0

In [128]:
diff3['diff'].update(difff)

AttributeError: 'list' object has no attribute 'update'

In [126]:
difff = [66.0, 31.0, 60.

In [129]:
dd = ['diff':12,34,98]

SyntaxError: invalid syntax (<ipython-input-129-ecad8d0013d0>, line 1)

In [11]:
import pandas as pd
import numpy as np

16.0

index = pd.MultiIndex.from_tuples([('bird', 'falcon'),
...                                    ('bird', 'parrot'),
...                                    ('mammal', 'lion'),
...                                    ('mammal', 'monkey')],
...                                   names=['class', 'name'])
>>> columns = pd.MultiIndex.from_tuples([('speed', 'max'),
...                                      ('species', 'type')])
>>> df = pd.DataFrame([(389.0, 'fly'),
...                    ( 24.0, 'fly'),
...                    ( 80.5, 'run'),
...                    (np.nan, 'jump')],
...                   index=index,
...                   columns=columns)
>>> df
               speed species
                 max    type
class  name
bird   falcon  389.0     fly
       parrot   24.0     fly
mammal lion     80.5     run
       monkey    NaN    jump

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html

s.value_counts(dropna=False)
bins

Bins can be useful for going from a continuous variable to a categorical variable; instead of counting unique apparitions of values, divide the index in the specified number of half-open bins.

>>> s.value_counts(bins=3)
(2.0, 3.0]      2
(0.996, 2.0]    2
(3.0, 4.0]      1
dtype: int64

With hierarchically-indexed data, it’s quite natural to group by one of the levels of the hierarchy.

Let’s create a Series with a two-level MultiIndex.

In [35]: arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
   ....:           ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
   ....: 

In [36]: index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])

In [37]: s = pd.Series(np.random.randn(8), index=index)

In [38]: s
Out[38]: 
first  second
bar    one      -0.919854
       two      -0.042379
baz    one       1.247642
       two      -0.009920
foo    one       0.290213
       two       0.495767
qux    one       0.362949
       two       1.548106
dtype: float64
We can then group by one of the levels in s.

In [39]: grouped = s.groupby(level=0)

In [40]: grouped.sum()
Out[40]: 
first
bar   -0.962232
baz    1.237723
foo    0.785980
qux    1.911055
dtype: float64
If the MultiIndex has names specified, these can be passed instead of the level number:

In [41]: s.groupby(level='second').sum()
Out[41]: 
second
one    0.980950
two    1.991575
dtype: float64
The aggregation functions such as sum will take the level parameter directly. Additionally, the resulting index will be named according to the chosen level:

In [42]: s.sum(level='second')
Out[42]: 
second
one    0.980950
two    1.991575
dtype: float64

Grouping with multiple levels is supported.

In [43]: s
Out[43]: 
first  second  third
bar    doo     one     -1.131345
               two     -0.089329
baz    bee     one      0.337863
               two     -0.945867
foo    bop     one     -0.932132
               two      1.956030
qux    bop     one      0.017587
               two     -0.016692
dtype: float64

In [44]: s.groupby(level=['first', 'second']).sum()
Out[44]: 
first  second
bar    doo      -1.220674
baz    bee      -0.608004
foo    bop       1.023898
qux    bop       0.000895
dtype: float64
New in version 0.20.

Index level names may be supplied as keys.

In [45]: s.groupby(['first', 'second']).sum()
Out[45]: 
first  second
bar    doo      -1.220674
baz    bee      -0.608004
foo    bop       1.023898
qux    bop       0.000895
dtype: float64
More on the sum function and aggregation later.

Selecting a group
A single group can be selected using get_group():

In [60]: grouped.get_group('bar')
Out[60]: 
     A      B         C         D
1  bar    one  0.254161  1.511763
3  bar  three  0.215897 -0.990582
5  bar    two -0.077118  1.211526
Or for an object grouped on multiple columns:

In [61]: df.groupby(['A', 'B']).get_group(('bar', 'one'))
Out[61]: 
     A    B         C         D
1  bar  one  0.254161  1.511763

In [13]:
35609-35245

364

In [14]:
7744-7489

255

In [15]:
1665/364

4.574175824175824

In [16]:
364-255

109

In [17]:
109*4.574175824175824

498.5851648351648

In [18]:
255*4.574175824175824

1166.414835164835

In [19]:
import pandas as pd

deliveries = pd.read_csv('deliveries.csv')
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [20]:
deliveries.extra_runs.sum()

10385

In [32]:
deliveries.groupby(['bowler']).over.count().sort_values(ascending = False)[0:1]

bowler
Harbhajan Singh    2989
Name: over, dtype: int64

In [35]:
deliveries.groupby(['batsman']).batsman_runs.sum().sort_values(ascending = False)[0:1]

batsman
SK Raina    4548
Name: batsman_runs, dtype: int64

In [36]:
#4. Return a dataframe with total runs scored by each team per match. 
# The resulting dataframe should have 
#1152 rows and 4 columns and look like the df given below.
d = {'batting_team': {0: 'Kolkata Knight Riders',
  1: 'Royal Challengers Bangalore',
  2: 'Chennai Super Kings',
  3: 'Kings XI Punjab',
  4: 'Delhi Daredevils'},
 'bowling_team': {0: 'Royal Challengers Bangalore',
  1: 'Kolkata Knight Riders',
  2: 'Kings XI Punjab',
  3: 'Chennai Super Kings',
  4: 'Rajasthan Royals'},
 'match_id': {0: 1, 1: 1, 2: 2, 3: 2, 4: 3},
 'total_runs': {0: 222, 1: 82, 2: 240, 3: 207, 4: 132}}
df = pd.DataFrame(d)

In [37]:
df

,batting_team,bowling_team,match_id,total_runs
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,222
1,Royal Challengers Bangalore,Kolkata Knight Riders,1,82
2,Chennai Super Kings,Kings XI Punjab,2,240
3,Kings XI Punjab,Chennai Super Kings,2,207
4,Delhi Daredevils,Rajasthan Royals,3,132

In [43]:
deliveries_1=deliveries[['batting_team','bowling_team','match_id','total_runs']]

In [ ]:
imdb_select.groupby(['director_name', 'actor_1_name']).agg({'gross': 'sum', 'budget': 'mean'})

In [54]:
del1=deliveries.set_index(['match_id'])

In [66]:
del1

,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
match_id,,,,,,,,,,,,,,,,,,,,
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,0,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,1,0,0,0,0,0,1,1,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,6,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,7,BB McCullum,SC Ganguly,P Kumar,0,0,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,1,BB McCullum,SC Ganguly,Z Khan,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,2,BB McCullum,SC Ganguly,Z Khan,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,3,BB McCullum,SC Ganguly,Z Khan,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,4,BB McCullum,SC Ganguly,Z Khan,0,0,0,0,0,0,6,0,6,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,5,BB McCullum,SC Ganguly,Z Khan,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,6,BB McCullum,SC Ganguly,Z Khan,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,1,SC Ganguly,BB McCullum,P Kumar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,2,SC Ganguly,BB McCullum,P Kumar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,3,SC Ganguly,BB McCullum,P Kumar,0,0,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,4,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,5,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,6,SC Ganguly,BB McCullum,P Kumar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,1,BB McCullum,SC Ganguly,AA Noffke,0,5,0,0,0,0,0,5,5,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,2,BB McCullum,SC Ganguly,AA Noffke,0,0,0,0,0,0,6,0,6,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,3,BB McCullum,SC Ganguly,AA Noffke,0,0,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,4,SC Ganguly,BB McCullum,AA Noffke,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,5,SC Ganguly,BB McCullum,AA Noffke,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,6,SC Ganguly,BB McCullum,AA Noffke,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,7,BB McCullum,SC Ganguly,AA Noffke,0,0,0,0,0,0,6,0,6,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,1,SC Ganguly,BB McCullum,P Kumar,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,2,SC Ganguly,BB McCullum,P Kumar,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,3,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,4,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,2,Rising Pune Supergiant,Mumbai Indians,16,1,MS Dhoni,SPD Smith,KH Pandya,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,16,2,SPD Smith,MS Dhoni,KH Pandya,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,16,3,MS Dhoni,SPD Smith,KH Pandya,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,16,4,MS Dhoni,SPD Smith,KH Pandya,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,16,5,SPD Smith,MS Dhoni,KH Pandya,0,0,0,0,0,0,6,0,6,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,16,6,SPD Smith,MS Dhoni,KH Pandya,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,17,1,SPD Smith,MS Dhoni,JJ Bumrah,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,17,2,MS Dhoni,SPD Smith,JJ Bumrah,0,0,0,0,0,0,0,0,0,MS Dhoni,caught,PA Patel
636,2,Rising Pune Supergiant,Mumbai Indians,17,3,MK Tiwary,SPD Smith,JJ Bumrah,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,17,4,SPD Smith,MK Tiwary,JJ Bumrah,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,17,5,MK Tiwary,SPD Smith,JJ Bumrah,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,17,6,MK Tiwary,SPD Smith,JJ Bumrah,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,18,1,SPD Smith,MK Tiwary,SL Malinga,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,18,2,SPD Smith,MK Tiwary,SL Malinga,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,18,3,MK Tiwary,SPD Smith,SL Malinga,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,18,4,SPD Smith,MK Tiwary,SL Malinga,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,18,5,SPD Smith,MK Tiwary,SL Malinga,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,18,6,SPD Smith,MK Tiwary,SL Malinga,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,19,1,SPD Smith,MK Tiwary,JJ Bumrah,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,19,2,MK Tiwary,SPD Smith,JJ Bumrah,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,19,3,SPD Smith,MK Tiwary,JJ Bumrah,0,0,0,0,0,0,1,0,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,19,4,MK Tiwary,SPD Smith,JJ Bumrah,0,0,0,1,0,0,0,1,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,19,5,SPD Smith,MK Tiwary,JJ Bumrah,0,0,0,0,0,0,6,0,6,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,19,6,SPD Smith,MK Tiwary,JJ Bumrah,0,0,0,0,0,0,2,0,2,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,20,1,MK Tiwary,SPD Smith,MG Johnson,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,20,2,MK Tiwary,SPD Smith,MG Johnson,0,0,0,0,0,0,0,0,0,MK Tiwary,caught,KA Pollard
636,2,Rising Pune Supergiant,Mumbai Indians,20,3,SPD Smith,DT Christian,MG Johnson,0,0,0,0,0,0,0,0,0,SPD Smith,caught,AT Rayudu
636,2,Rising Pune Supergiant,Mumbai Indians,20,4,Washington Sundar,DT Christian,MG Johnson,0,0,1,0,0,0,0,1,1,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,20,5,DT Christian,Washington Sundar,MG Johnson,0,0,0,0,0,0,2,0,2,NaN,NaN,NaN
636,2,Rising Pune Supergiant,Mumbai Indians,20,6,DT Christian,Washington Sundar,MG Johnson,0,0,0,0,0,0,2,0,2,Washington Sundar,run out,J Suchith (sub)

In [120]:
d3 = d2[['batting_team','bowling_team','match_id','total_runs']]

In [122]:
d3.head()

            batting_team                 bowling_team  match_id  total_runs
0  Kolkata Knight Riders  Royal Challengers Bangalore         1           1
1  Kolkata Knight Riders  Royal Challengers Bangalore         1           0
2  Kolkata Knight Riders  Royal Challengers Bangalore         1           1
3  Kolkata Knight Riders  Royal Challengers Bangalore         1           0
4  Kolkata Knight Riders  Royal Challengers Bangalore         1           0

In [124]:
d3.groupby(['match_id','batting_team','bowling_team']).total_runs.sum()

match_id  batting_team                 bowling_team
1         Kolkata Knight Riders        Royal Challengers Bangalore    222
          Royal Challengers Bangalore  Kolkata Knight Riders           82
2         Chennai Super Kings          Kings XI Punjab                240
          Kings XI Punjab              Chennai Super Kings            207
3         Delhi Daredevils             Rajasthan Royals               132
          Rajasthan Royals             Delhi Daredevils               129
4         Mumbai Indians               Royal Challengers Bangalore    165
          Royal Challengers Bangalore  Mumbai Indians                 166
5         Deccan Chargers              Kolkata Knight Riders          110
          Kolkata Knight Riders        Deccan Chargers                112
6         Kings XI Punjab              Rajasthan Royals               166
          Rajasthan Royals             Kings XI Punjab                168
7         Deccan Chargers              Delhi Daredevils               142
          Delhi Daredevils             Deccan Chargers                143
8         Chennai Super Kings          Mumbai Indians                 208
          Mumbai Indians               Chennai Super Kings            202
9         Deccan Chargers              Rajasthan Royals               214
          Rajasthan Royals             Deccan Chargers                217
10        Kings XI Punjab              Mumbai Indians                 182
          Mumbai Indians               Kings XI Punjab                116
11        Rajasthan Royals             Royal Challengers Bangalore    138
          Royal Challengers Bangalore  Rajasthan Royals               135
12        Chennai Super Kings          Kolkata Knight Riders          152
          Kolkata Knight Riders        Chennai Super Kings            147
13        Deccan Chargers              Mumbai Indians                 155
          Mumbai Indians               Deccan Chargers                154
14        Delhi Daredevils             Kings XI Punjab                158
          Kings XI Punjab              Delhi Daredevils               162
15        Chennai Super Kings          Royal Challengers Bangalore    178
          Royal Challengers Bangalore  Chennai Super Kings            165
                                                                     ...
622       Kolkata Knight Riders        Royal Challengers Bangalore    159
          Royal Challengers Bangalore  Kolkata Knight Riders          158
623       Gujarat Lions                Kings XI Punjab                192
          Kings XI Punjab              Gujarat Lions                  189
624       Mumbai Indians               Sunrisers Hyderabad            138
          Sunrisers Hyderabad          Mumbai Indians                 140
625       Kings XI Punjab              Kolkata Knight Riders          167
          Kolkata Knight Riders        Kings XI Punjab                153
626       Delhi Daredevils             Gujarat Lions                  197
          Gujarat Lions                Delhi Daredevils               195
627       Kings XI Punjab              Mumbai Indians                 230
          Mumbai Indians               Kings XI Punjab                223
628       Delhi Daredevils             Rising Pune Supergiant         168
          Rising Pune Supergiant       Delhi Daredevils               161
629       Gujarat Lions                Sunrisers Hyderabad            154
          Sunrisers Hyderabad          Gujarat Lions                  158
630       Kolkata Knight Riders        Mumbai Indians                 164
          Mumbai Indians               Kolkata Knight Riders          173
631       Kings XI Punjab              Rising Pune Supergiant          73
          Rising Pune Supergiant       Kings XI Punjab                 78
632       Delhi Daredevils             Royal Challengers Bangalore    151
          Royal Challengers Bangalore  Delhi Daredevils               161
633       Mumbai Indians               Rising Pune Supergiant         142
          Rising Pune Supergiant       Mumbai Indians                 162
634       Kolkata Knight Riders        Sunrisers Hyderabad             48
          Sunrisers Hyderabad          Kolkata Knight Riders          128
635       Kolkata Knight Riders        Mumbai Indians                 107
          Mumbai Indians               Kolkata Knight Riders          111
636       Mumbai Indians               Rising Pune Supergiant         129
          Rising Pune Supergiant       Mumbai Indians                 128
Name: total_runs, Length: 1270, dtype: int64

In [69]:
deliveries = pd.read_csv('deliveries.csv')

In [135]:
d4 = d4.drop_duplicates()

In [139]:
d4

,batting_team,bowling_team,match_id,total_runs
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,222
124,Royal Challengers Bangalore,Kolkata Knight Riders,1,82
225,Chennai Super Kings,Kings XI Punjab,2,240
349,Kings XI Punjab,Chennai Super Kings,2,207
473,Rajasthan Royals,Delhi Daredevils,3,129
595,Delhi Daredevils,Rajasthan Royals,3,132
692,Mumbai Indians,Royal Challengers Bangalore,4,165
815,Royal Challengers Bangalore,Mumbai Indians,4,166
938,Deccan Chargers,Kolkata Knight Riders,5,110
1056,Kolkata Knight Riders,Deccan Chargers,5,112
1178,Kings XI Punjab,Rajasthan Royals,6,166
1300,Rajasthan Royals,Kings XI Punjab,6,168
1419,Deccan Chargers,Delhi Daredevils,7,142
1541,Delhi Daredevils,Deccan Chargers,7,143
1624,Chennai Super Kings,Mumbai Indians,8,208
1751,Mumbai Indians,Chennai Super Kings,8,202
1879,Deccan Chargers,Rajasthan Royals,9,214
2005,Rajasthan Royals,Deccan Chargers,9,217
2127,Kings XI Punjab,Mumbai Indians,10,182
2251,Mumbai Indians,Kings XI Punjab,10,116
2377,Royal Challengers Bangalore,Rajasthan Royals,11,135
2501,Rajasthan Royals,Royal Challengers Bangalore,11,138
2606,Kolkata Knight Riders,Chennai Super Kings,12,147
2732,Chennai Super Kings,Kolkata Knight Riders,12,152
2839,Mumbai Indians,Deccan Chargers,13,154
2964,Deccan Chargers,Mumbai Indians,13,155
3041,Delhi Daredevils,Kings XI Punjab,14,158
3166,Kings XI Punjab,Delhi Daredevils,14,162
3289,Chennai Super Kings,Royal Challengers Bangalore,15,178
3412,Royal Challengers Bangalore,Chennai Super Kings,15,165
...,...,...,...,...
147005,Royal Challengers Bangalore,Kolkata Knight Riders,622,158
147127,Kolkata Knight Riders,Royal Challengers Bangalore,622,159
147221,Kings XI Punjab,Gujarat Lions,623,189
147344,Gujarat Lions,Kings XI Punjab,623,192
147465,Mumbai Indians,Sunrisers Hyderabad,624,138
147591,Sunrisers Hyderabad,Mumbai Indians,624,140
147703,Kings XI Punjab,Kolkata Knight Riders,625,167
147829,Kolkata Knight Riders,Kings XI Punjab,625,153
147951,Gujarat Lions,Delhi Daredevils,626,195
148075,Delhi Daredevils,Gujarat Lions,626,197
148194,Kings XI Punjab,Mumbai Indians,627,230
148323,Mumbai Indians,Kings XI Punjab,627,223
148449,Delhi Daredevils,Rising Pune Supergiant,628,168
148573,Rising Pune Supergiant,Delhi Daredevils,628,161
148698,Gujarat Lions,Sunrisers Hyderabad,629,154
148816,Sunrisers Hyderabad,Gujarat Lions,629,158
148926,Mumbai Indians,Kolkata Knight Riders,630,173
149051,Kolkata Knight Riders,Mumbai Indians,630,164
149176,Kings XI Punjab,Rising Pune Supergiant,631,73
149274,Rising Pune Supergiant,Kings XI Punjab,631,78
149347,Royal Challengers Bangalore,Delhi Daredevils,632,161
149474,Delhi Daredevils,Royal Challengers Bangalore,632,151
149596,Rising Pune Supergiant,Mumbai Indians,633,162
149721,Mumbai Indians,Rising Pune Supergiant,633,142
149848,Sunrisers Hyderabad,Kolkata Knight Riders,634,128
149970,Kolkata Knight Riders,Sunrisers Hyderabad,634,48
150005,Kolkata Knight Riders,Mumbai Indians,635,107
150121,Mumbai Indians,Kolkata Knight Riders,635,111
150212,Mumbai Indians,Rising Pune Supergiant,636,129
150337,Rising Pune Supergiant,Mumbai Indians,636,128

In [127]:
d4['total_runs']=d4.groupby(['match_id','batting_team','bowling_team']).total_runs.transform('sum')

/home/mak/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
d1 = deliveries.set_index(['match_id','inning'])

In [73]:
d1.groupby(['match_id','inning']).total_runs.sum()

match_id  inning
1         1         222
          2          82
2         1         240
          2         207
3         1         129
          2         132
4         1         165
          2         166
5         1         110
          2         112
6         1         166
          2         168
7         1         142
          2         143
8         1         208
          2         202
9         1         214
          2         217
10        1         182
          2         116
11        1         135
          2         138
12        1         147
          2         152
13        1         154
          2         155
14        1         158
          2         162
15        1         178
          2         165
                   ...
622       1         158
          2         159
623       1         189
          2         192
624       1         138
          2         140
625       1         167
          2         153
626       1         195
          2         197
627       1         230
          2         223
628       1         168
          2         161
629       1         154
          2         158
630       1         173
          2         164
631       1          73
          2          78
632       1         161
          2         151
633       1         162
          2         142
634       1         128
          2          48
635       1         107
          2         111
636       1         129
          2         128
Name: total_runs, Length: 1284, dtype: int64

In [75]:
d2 = deliveries

In [76]:
d2.loc[:,'inning'] = d2.match_id

In [80]:
d2.iloc[1050:2060]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
1050,5,5,Deccan Chargers,Kolkata Knight Riders,18,5,SB Bangar,WPUJC Vaas,AB Agarkar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1051,5,5,Deccan Chargers,Kolkata Knight Riders,18,6,WPUJC Vaas,SB Bangar,AB Agarkar,0,...,0,0,0,0,0,0,0,WPUJC Vaas,caught,SC Ganguly
1052,5,5,Deccan Chargers,Kolkata Knight Riders,19,1,RP Singh,SB Bangar,M Kartik,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1053,5,5,Deccan Chargers,Kolkata Knight Riders,19,2,SB Bangar,RP Singh,M Kartik,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
1054,5,5,Deccan Chargers,Kolkata Knight Riders,19,3,SB Bangar,RP Singh,M Kartik,0,...,0,0,0,0,0,0,0,SB Bangar,caught,WP Saha
1055,5,5,Deccan Chargers,Kolkata Knight Riders,19,4,RP Singh,PP Ojha,M Kartik,0,...,0,0,0,0,0,0,0,PP Ojha,run out,Mohammad Hafeez
1056,5,5,Kolkata Knight Riders,Deccan Chargers,1,1,WP Saha,BB McCullum,WPUJC Vaas,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1057,5,5,Kolkata Knight Riders,Deccan Chargers,1,2,BB McCullum,WP Saha,WPUJC Vaas,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
1058,5,5,Kolkata Knight Riders,Deccan Chargers,1,3,BB McCullum,WP Saha,WPUJC Vaas,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1059,5,5,Kolkata Knight Riders,Deccan Chargers,1,4,BB McCullum,WP Saha,WPUJC Vaas,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1060,5,5,Kolkata Knight Riders,Deccan Chargers,1,5,WP Saha,BB McCullum,WPUJC Vaas,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1061,5,5,Kolkata Knight Riders,Deccan Chargers,1,6,WP Saha,BB McCullum,WPUJC Vaas,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1062,5,5,Kolkata Knight Riders,Deccan Chargers,2,1,BB McCullum,WP Saha,RP Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1063,5,5,Kolkata Knight Riders,Deccan Chargers,2,2,BB McCullum,WP Saha,RP Singh,0,...,0,0,0,0,0,0,0,BB McCullum,caught,RG Sharma
1064,5,5,Kolkata Knight Riders,Deccan Chargers,2,3,WP Saha,RT Ponting,RP Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1065,5,5,Kolkata Knight Riders,Deccan Chargers,2,4,WP Saha,RT Ponting,RP Singh,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
1066,5,5,Kolkata Knight Riders,Deccan Chargers,2,5,WP Saha,RT Ponting,RP Singh,0,...,0,4,0,0,0,4,4,NaN,NaN,NaN
1067,5,5,Kolkata Knight Riders,Deccan Chargers,2,6,WP Saha,RT Ponting,RP Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
1068,5,5,Kolkata Knight Riders,Deccan Chargers,3,1,RT Ponting,WP Saha,WPUJC Vaas,0,...,0,0,0,0,0,0,0,RT Ponting,lbw,NaN
1069,5,5,Kolkata Knight Riders,Deccan Chargers,3,2,SC Ganguly,WP Saha,WPUJC Vaas,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1070,5,5,Kolkata Knight Riders,Deccan Chargers,3,3,SC Ganguly,WP Saha,WPUJC Vaas,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1071,5,5,Kolkata Knight Riders,Deccan Chargers,3,4,WP Saha,SC Ganguly,WPUJC Vaas,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1072,5,5,Kolkata Knight Riders,Deccan Chargers,3,5,WP Saha,SC Ganguly,WPUJC Vaas,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1073,5,5,Kolkata Knight Riders,Deccan Chargers,3,6,WP Saha,SC Ganguly,WPUJC Vaas,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1074,5,5,Kolkata Knight Riders,Deccan Chargers,4,1,WP Saha,SC Ganguly,RP Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1075,5,5,Kolkata Knight Riders,Deccan Chargers,4,2,WP Saha,SC Ganguly,RP Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1076,5,5,Kolkata Knight Riders,Deccan Chargers,4,3,WP Saha,SC Ganguly,RP Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1077,5,5,Kolkata Knight Riders,Deccan Chargers,4,4,SC Ganguly,WP Saha,RP Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1078,5,5,Kolkata Knight Riders,Deccan Chargers,4,5,WP Saha,SC Ganguly,RP Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1079,5,5,Kolkata Knight Riders,Deccan Chargers,4,6,WP Saha,SC Ganguly,RP Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2030,9,9,Rajasthan Royals,Deccan Chargers,5,1,YK Pathan,GC Smith,WPUJC Vaas,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
2031,9,9,Rajasthan Royals,Deccan Chargers,5,2,YK Pathan,GC Smith,WPUJC Vaas,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
2032,9,9,Rajasthan Royals,Deccan Chargers,5,3,YK Pathan,GC Smith,WPUJC Vaas,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2033,9,9,Rajasthan Royals,Deccan Chargers,5,4,YK Pathan,GC Smith,WPUJC Vaas,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2034,9,9,Rajasthan Royals,Deccan Chargers,5,5,GC Smith,YK Pathan,WPUJC Vaas,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2035,9,9,Rajasthan Royals,Deccan Chargers,5,6,GC Smith,YK Pathan,WPUJC Vaas,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2036,9,9,Rajasthan Royals,Deccan Chargers,6,1,GC Smith,YK Pathan,PP Ojha,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2037,9,9,Rajasthan Royals,Deccan Chargers,6,2,GC Smith,YK Pathan,PP Ojha,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2038,9,9,Rajasthan Royals,Deccan Chargers,6,3,GC Smith,YK Pathan,PP Ojha,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2039,9,9,Rajasthan Royals,Deccan Chargers,6,4,YK Pathan,GC Smith,PP Ojha,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
2040,9,9,Rajasthan Royals,Deccan Chargers,6,5,YK Pathan,GC Smith,PP Ojha,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2041,9,9,Rajasthan Royals,Deccan Chargers,6,6,YK Pathan,GC Smith,PP Ojha,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2042,9,9,Rajasthan Royals,Deccan Chargers,7,1,YK Pathan,GC Smith,D Kalyankrishna,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2043,9,9,Rajasthan Royals,Deccan Chargers,7,2,GC Smith,YK Pathan,D Kalyankrishna,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2044,9,9,Rajasthan Royals,Deccan Chargers,7,3,YK Pathan,GC Smith,D Kalyankrishna,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2045,9,9,Rajasthan Royals,Deccan Chargers,7,4,YK Pathan,GC Smith,D Kalyankrishna,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
2046,9,9,Rajasthan Royals,Deccan Chargers,7,5,YK Pathan,GC Smith,D Kalyankrishna,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2047,9,9,Rajasthan Royals,Deccan Chargers,7,6,GC Smith,YK Pathan,D Kalyankrishna,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2048,9,9,Rajasthan Royals,Deccan Chargers,8,1,YK Pathan,GC Smith,RP Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2049,9,9,Rajasthan Royals,Deccan Chargers,8,2,GC Smith,YK Pathan,RP Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2050,9,9,Rajasthan Royals,Deccan Chargers,8,3,YK Pathan,GC Smith,RP Singh,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
2051,9,9,Rajasthan Royals,Deccan Chargers,8,4,YK Pathan,GC Smith,RP Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2052,9,9,Rajasthan Royals,Deccan Chargers,8,5,YK Pathan,GC Smith,RP Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2053,9,9,Rajasthan Royals,Deccan Chargers,8,6,YK Pathan,GC Smith,RP Singh,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2054,9,9,Rajasthan Royals,Deccan Chargers,9,1,GC Smith,YK Pathan,Shahid Afridi,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2055,9,9,Rajasthan Royals,Deccan Chargers,9,2,YK Pathan,GC Smith,Shahid Afridi,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2056,9,9,Rajasthan Royals,Deccan Chargers,9,3,YK Pathan,GC Smith,Shahid Afridi,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2057,9,9,Rajasthan Royals,Deccan Chargers,9,4,GC Smith,YK Pathan,Shahid Afridi,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2058,9,9,Rajasthan Royals,Deccan Chargers,9,5,GC Smith,YK Pathan,Shahid Afridi,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
2059,9,9,Rajasthan Royals,Deccan Chargers,9,6,GC Smith,YK Pathan,Shahid Afridi,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [98]:
x = pd.DataFrame(d2.groupby(['inning','batting_team','bowling_team']).total_runs.sum())

In [101]:
x.

Index(['total_runs'], dtype='object')

In [96]:
x1.columns

Index(['total_runs'], dtype='object')

In [145]:
x = deliveries.groupby(['inning','batting_team','bowling_team'],).total_runs.sum().reset_index()

In [149]:
x.rename(columns = {'inning':'match_id'})

,match_id,batting_team,bowling_team,total_runs
0,1,Kolkata Knight Riders,Royal Challengers Bangalore,222
1,1,Royal Challengers Bangalore,Kolkata Knight Riders,82
2,2,Chennai Super Kings,Kings XI Punjab,240
3,2,Kings XI Punjab,Chennai Super Kings,207
4,3,Delhi Daredevils,Rajasthan Royals,132
5,3,Rajasthan Royals,Delhi Daredevils,129
6,4,Mumbai Indians,Royal Challengers Bangalore,165
7,4,Royal Challengers Bangalore,Mumbai Indians,166
8,5,Deccan Chargers,Kolkata Knight Riders,110
9,5,Kolkata Knight Riders,Deccan Chargers,112
10,6,Kings XI Punjab,Rajasthan Royals,166
11,6,Rajasthan Royals,Kings XI Punjab,168
12,7,Deccan Chargers,Delhi Daredevils,142
13,7,Delhi Daredevils,Deccan Chargers,143
14,8,Chennai Super Kings,Mumbai Indians,208
15,8,Mumbai Indians,Chennai Super Kings,202
16,9,Deccan Chargers,Rajasthan Royals,214
17,9,Rajasthan Royals,Deccan Chargers,217
18,10,Kings XI Punjab,Mumbai Indians,182
19,10,Mumbai Indians,Kings XI Punjab,116
20,11,Rajasthan Royals,Royal Challengers Bangalore,138
21,11,Royal Challengers Bangalore,Rajasthan Royals,135
22,12,Chennai Super Kings,Kolkata Knight Riders,152
23,12,Kolkata Knight Riders,Chennai Super Kings,147
24,13,Deccan Chargers,Mumbai Indians,155
25,13,Mumbai Indians,Deccan Chargers,154
26,14,Delhi Daredevils,Kings XI Punjab,158
27,14,Kings XI Punjab,Delhi Daredevils,162
28,15,Chennai Super Kings,Royal Challengers Bangalore,178
29,15,Royal Challengers Bangalore,Chennai Super Kings,165
...,...,...,...,...
1240,622,Kolkata Knight Riders,Royal Challengers Bangalore,159
1241,622,Royal Challengers Bangalore,Kolkata Knight Riders,158
1242,623,Gujarat Lions,Kings XI Punjab,192
1243,623,Kings XI Punjab,Gujarat Lions,189
1244,624,Mumbai Indians,Sunrisers Hyderabad,138
1245,624,Sunrisers Hyderabad,Mumbai Indians,140
1246,625,Kings XI Punjab,Kolkata Knight Riders,167
1247,625,Kolkata Knight Riders,Kings XI Punjab,153
1248,626,Delhi Daredevils,Gujarat Lions,197
1249,626,Gujarat Lions,Delhi Daredevils,195
1250,627,Kings XI Punjab,Mumbai Indians,230
1251,627,Mumbai Indians,Kings XI Punjab,223
1252,628,Delhi Daredevils,Rising Pune Supergiant,168
1253,628,Rising Pune Supergiant,Delhi Daredevils,161
1254,629,Gujarat Lions,Sunrisers Hyderabad,154
1255,629,Sunrisers Hyderabad,Gujarat Lions,158
1256,630,Kolkata Knight Riders,Mumbai Indians,164
1257,630,Mumbai Indians,Kolkata Knight Riders,173
1258,631,Kings XI Punjab,Rising Pune Supergiant,73
1259,631,Rising Pune Supergiant,Kings XI Punjab,78
1260,632,Delhi Daredevils,Royal Challengers Bangalore,151
1261,632,Royal Challengers Bangalore,Delhi Daredevils,161
1262,633,Mumbai Indians,Rising Pune Supergiant,142
1263,633,Rising Pune Supergiant,Mumbai Indians,162
1264,634,Kolkata Knight Riders,Sunrisers Hyderabad,48
1265,634,Sunrisers Hyderabad,Kolkata Knight Riders,128
1266,635,Kolkata Knight Riders,Mumbai Indians,107
1267,635,Mumbai Indians,Kolkata Knight Riders,111
1268,636,Mumbai Indians,Rising Pune Supergiant,129
1269,636,Rising Pune Supergiant,Mumbai Indians,128

In [104]:
x2.columns['inning','batting_team','bowling_team']

AttributeError: 'Series' object has no attribute 'columns'

In [116]:
x3 = pd.DataFrame(x2)

In [118]:
x3.shape

(1270, 1)

In [2]:
#5. Return a dataframe with the bowling details for bowlers for each match. 
#The resulting df will have 6866 rows 
# and 6 columns and should look like the df given below.
import pandas as pd
d1 = {'batting_team': {0: 'Kolkata Knight Riders',
  1: 'Kolkata Knight Riders',
  2: 'Kolkata Knight Riders',
  3: 'Kolkata Knight Riders',
  4: 'Kolkata Knight Riders',
  5: 'Kolkata Knight Riders',
  6: 'Royal Challengers Bangalore',
  7: 'Royal Challengers Bangalore',
  8: 'Royal Challengers Bangalore',
  9: 'Royal Challengers Bangalore'},
 'bowler': {0: 'AA Noffke',
  1: 'CL White',
  2: 'JH Kallis',
  3: 'P Kumar',
  4: 'SB Joshi',
  5: 'Z Khan',
  6: 'AB Agarkar',
  7: 'AB Dinda',
  8: 'I Sharma',
  9: 'LR Shukla'},
 'bowling_team': {0: 'Royal Challengers Bangalore',
  1: 'Royal Challengers Bangalore',
  2: 'Royal Challengers Bangalore',
  3: 'Royal Challengers Bangalore',
  4: 'Royal Challengers Bangalore',
  5: 'Royal Challengers Bangalore',
  6: 'Kolkata Knight Riders',
  7: 'Kolkata Knight Riders',
  8: 'Kolkata Knight Riders',
  9: 'Kolkata Knight Riders'},
 'extra_runs': {0: 6, 1: 2, 2: 5, 3: 4, 4: 0, 5: 0, 6: 4, 7: 2, 8: 7, 9: 3},
 'match_id': {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1},
 'total_runs': {0: 41,
  1: 24,
  2: 52,
  3: 41,
  4: 26,
  5: 38,
  6: 25,
  7: 9,
  8: 13,
  9: 12}}
df = pd.DataFrame(d1)

In [3]:
df

,batting_team,bowler,bowling_team,extra_runs,match_id,total_runs
0,Kolkata Knight Riders,AA Noffke,Royal Challengers Bangalore,6,1,41
1,Kolkata Knight Riders,CL White,Royal Challengers Bangalore,2,1,24
2,Kolkata Knight Riders,JH Kallis,Royal Challengers Bangalore,5,1,52
3,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,4,1,41
4,Kolkata Knight Riders,SB Joshi,Royal Challengers Bangalore,0,1,26
5,Kolkata Knight Riders,Z Khan,Royal Challengers Bangalore,0,1,38
6,Royal Challengers Bangalore,AB Agarkar,Kolkata Knight Riders,4,1,25
7,Royal Challengers Bangalore,AB Dinda,Kolkata Knight Riders,2,1,9
8,Royal Challengers Bangalore,I Sharma,Kolkata Knight Riders,7,1,13
9,Royal Challengers Bangalore,LR Shukla,Kolkata Knight Riders,3,1,12

In [6]:
deli = pd.read_csv('deliveries.csv')
deli.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [150]:
x

,inning,batting_team,bowling_team,total_runs
0,1,Kolkata Knight Riders,Royal Challengers Bangalore,222
1,1,Royal Challengers Bangalore,Kolkata Knight Riders,82
2,2,Chennai Super Kings,Kings XI Punjab,240
3,2,Kings XI Punjab,Chennai Super Kings,207
4,3,Delhi Daredevils,Rajasthan Royals,132
5,3,Rajasthan Royals,Delhi Daredevils,129
6,4,Mumbai Indians,Royal Challengers Bangalore,165
7,4,Royal Challengers Bangalore,Mumbai Indians,166
8,5,Deccan Chargers,Kolkata Knight Riders,110
9,5,Kolkata Knight Riders,Deccan Chargers,112
10,6,Kings XI Punjab,Rajasthan Royals,166
11,6,Rajasthan Royals,Kings XI Punjab,168
12,7,Deccan Chargers,Delhi Daredevils,142
13,7,Delhi Daredevils,Deccan Chargers,143
14,8,Chennai Super Kings,Mumbai Indians,208
15,8,Mumbai Indians,Chennai Super Kings,202
16,9,Deccan Chargers,Rajasthan Royals,214
17,9,Rajasthan Royals,Deccan Chargers,217
18,10,Kings XI Punjab,Mumbai Indians,182
19,10,Mumbai Indians,Kings XI Punjab,116
20,11,Rajasthan Royals,Royal Challengers Bangalore,138
21,11,Royal Challengers Bangalore,Rajasthan Royals,135
22,12,Chennai Super Kings,Kolkata Knight Riders,152
23,12,Kolkata Knight Riders,Chennai Super Kings,147
24,13,Deccan Chargers,Mumbai Indians,155
25,13,Mumbai Indians,Deccan Chargers,154
26,14,Delhi Daredevils,Kings XI Punjab,158
27,14,Kings XI Punjab,Delhi Daredevils,162
28,15,Chennai Super Kings,Royal Challengers Bangalore,178
29,15,Royal Challengers Bangalore,Chennai Super Kings,165
...,...,...,...,...
1240,622,Kolkata Knight Riders,Royal Challengers Bangalore,159
1241,622,Royal Challengers Bangalore,Kolkata Knight Riders,158
1242,623,Gujarat Lions,Kings XI Punjab,192
1243,623,Kings XI Punjab,Gujarat Lions,189
1244,624,Mumbai Indians,Sunrisers Hyderabad,138
1245,624,Sunrisers Hyderabad,Mumbai Indians,140
1246,625,Kings XI Punjab,Kolkata Knight Riders,167
1247,625,Kolkata Knight Riders,Kings XI Punjab,153
1248,626,Delhi Daredevils,Gujarat Lions,197
1249,626,Gujarat Lions,Delhi Daredevils,195
1250,627,Kings XI Punjab,Mumbai Indians,230
1251,627,Mumbai Indians,Kings XI Punjab,223
1252,628,Delhi Daredevils,Rising Pune Supergiant,168
1253,628,Rising Pune Supergiant,Delhi Daredevils,161
1254,629,Gujarat Lions,Sunrisers Hyderabad,154
1255,629,Sunrisers Hyderabad,Gujarat Lions,158
1256,630,Kolkata Knight Riders,Mumbai Indians,164
1257,630,Mumbai Indians,Kolkata Knight Riders,173
1258,631,Kings XI Punjab,Rising Pune Supergiant,73
1259,631,Rising Pune Supergiant,Kings XI Punjab,78
1260,632,Delhi Daredevils,Royal Challengers Bangalore,151
1261,632,Royal Challengers Bangalore,Delhi Daredevils,161
1262,633,Mumbai Indians,Rising Pune Supergiant,142
1263,633,Rising Pune Supergiant,Mumbai Indians,162
1264,634,Kolkata Knight Riders,Sunrisers Hyderabad,48
1265,634,Sunrisers Hyderabad,Kolkata Knight Riders,128
1266,635,Kolkata Knight Riders,Mumbai Indians,107
1267,635,Mumbai Indians,Kolkata Knight Riders,111
1268,636,Mumbai Indians,Rising Pune Supergiant,129
1269,636,Rising Pune Supergiant,Mumbai Indians,128

In [180]:
high = y.total_runs.max()
y['batting_team'][lambda k:y.total_runs == high]
low = y.total_runs.min()
y['batting_team'][lambda k:y.total_runs == low]

7    Mumbai Indians
Name: batting_team, dtype: object

In [161]:
high = y.total_runs.max()

In [163]:
high

24521

In [182]:
y['batting_team'][lambda k:y.total_runs == low]

5    Kochi Tuskers Kerala
Name: batting_team, dtype: object

In [181]:
low = y.total_runs.min()
low

1901

In [158]:
y = deliveries.groupby([batting_team'],).total_runs.sum().reset_index()

In [173]:
y.total_runs.max()

24521

In [176]:
y

                   batting_team  total_runs
0           Chennai Super Kings       20899
1               Deccan Chargers       11463
2              Delhi Daredevils       21953
3                 Gujarat Lions        4862
4               Kings XI Punjab       23068
5          Kochi Tuskers Kerala        1901
6         Kolkata Knight Riders       21965
7                Mumbai Indians       24521
8                 Pune Warriors        6358
9              Rajasthan Royals       17703
10       Rising Pune Supergiant        2470
11      Rising Pune Supergiants        2063
12  Royal Challengers Bangalore       23436
13          Sunrisers Hyderabad       11652

In [186]:
deli = pd.read_csv('deliveries.csv')
deli.dismissal_kind.value_counts()
deli['dismissal_kind']=np.where(deli.dismissal_kind=='run out',np.nan,deli.dismissal_kind)
deli['dismissal_kind']=np.where(deli.dismissal_kind=='hit wicket',np.nan,deli.dismissal_kind)
deli['dismissal_kind']=np.where(deli.dismissal_kind=='retired hurt',np.nan,deli.dismissal_kind)
deli['dismissal_kind']=np.where(deli.dismissal_kind=='obstructing the field',np.nan,pass)

In [202]:
deli.dismissal_kind.value_counts()

caught                   4373
bowled                   1382
run out                   755
lbw                       455
stumped                   243
caught and bowled         211
hit wicket                  9
retired hurt                9
obstructing the field       1
Name: dismissal_kind, dtype: int64

In [187]:
deli.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [203]:
deli['dismissal_kind']=np.where(deli.dismissal_kind=='run out',np.nan,deli.dismissal_kind)

In [204]:
deli['dismissal_kind']=np.where(deli.dismissal_kind=='hit wicket',np.nan,deli.dismissal_kind)

In [205]:
deli['dismissal_kind']=np.where(deli.dismissal_kind=='retired hurt',np.nan,deli.dismissal_kind)

In [208]:
deli['dismissal_kind']=np.where(deli.dismissal_kind=='obstructing the field',np.nan,pass)

SyntaxError: invalid syntax (<ipython-input-208-381285da09ea>, line 1)

In [207]:
deli.dismissal_kind.value_counts()

caught               4373
bowled               1382
lbw                   455
stumped               243
caught and bowled     211
Name: dismissal_kind, dtype: int64

In [ ]:
Chennai Super Kings

In [214]:
chen = deli.loc[deli.bowling_team=='Chennai Super Kings']

In [218]:
chen

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
349,2,2,Kings XI Punjab,Chennai Super Kings,1,1,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
350,2,2,Kings XI Punjab,Chennai Super Kings,1,2,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
351,2,2,Kings XI Punjab,Chennai Super Kings,1,3,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
352,2,2,Kings XI Punjab,Chennai Super Kings,1,4,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
353,2,2,Kings XI Punjab,Chennai Super Kings,1,5,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
354,2,2,Kings XI Punjab,Chennai Super Kings,1,6,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
355,2,2,Kings XI Punjab,Chennai Super Kings,2,1,K Goel,JR Hopes,MS Gony,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
356,2,2,Kings XI Punjab,Chennai Super Kings,2,2,JR Hopes,K Goel,MS Gony,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
357,2,2,Kings XI Punjab,Chennai Super Kings,2,3,JR Hopes,K Goel,MS Gony,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
358,2,2,Kings XI Punjab,Chennai Super Kings,2,4,K Goel,JR Hopes,MS Gony,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
359,2,2,Kings XI Punjab,Chennai Super Kings,2,5,K Goel,JR Hopes,MS Gony,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
360,2,2,Kings XI Punjab,Chennai Super Kings,2,6,K Goel,JR Hopes,MS Gony,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
361,2,2,Kings XI Punjab,Chennai Super Kings,3,1,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
362,2,2,Kings XI Punjab,Chennai Super Kings,3,2,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
363,2,2,Kings XI Punjab,Chennai Super Kings,3,3,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
364,2,2,Kings XI Punjab,Chennai Super Kings,3,4,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
365,2,2,Kings XI Punjab,Chennai Super Kings,3,5,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
366,2,2,Kings XI Punjab,Chennai Super Kings,3,6,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
367,2,2,Kings XI Punjab,Chennai Super Kings,4,1,K Goel,JR Hopes,MS Gony,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
368,2,2,Kings XI Punjab,Chennai Super Kings,4,2,K Goel,JR Hopes,MS Gony,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
369,2,2,Kings XI Punjab,Chennai Super Kings,4,3,K Goel,JR Hopes,MS Gony,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
370,2,2,Kings XI Punjab,Chennai Super Kings,4,4,JR Hopes,K Goel,MS Gony,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
371,2,2,Kings XI Punjab,Chennai Super Kings,4,5,K Goel,JR Hopes,MS Gony,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
372,2,2,Kings XI Punjab,Chennai Super Kings,4,6,K Goel,JR Hopes,MS Gony,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
373,2,2,Kings XI Punjab,Chennai Super Kings,5,1,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
374,2,2,Kings XI Punjab,Chennai Super Kings,5,2,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
375,2,2,Kings XI Punjab,Chennai Super Kings,5,3,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
376,2,2,Kings XI Punjab,Chennai Super Kings,5,4,K Goel,JR Hopes,JDP Oram,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
377,2,2,Kings XI Punjab,Chennai Super Kings,5,5,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
378,2,2,Kings XI Punjab,Chennai Super Kings,5,6,JR Hopes,K Goel,JDP Oram,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122347,517,1,Mumbai Indians,Chennai Super Kings,16,1,KA Pollard,AT Rayudu,MM Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
122348,517,1,Mumbai Indians,Chennai Super Kings,16,2,KA Pollard,AT Rayudu,MM Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
122349,517,1,Mumbai Indians,Chennai Super Kings,16,3,KA Pollard,AT Rayudu,MM Sharma,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
122350,517,1,Mumbai Indians,Chennai Super Kings,16,4,KA Pollard,AT Rayudu,MM Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
122351,517,1,Mumbai Indians,Chennai Super Kings,16,5,KA Pollard,AT Rayudu,MM Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122352,517,1,Mumbai Indians,Chennai Super Kings,16,6,AT Rayudu,KA Pollard,MM Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122353,517,1,Mumbai Indians,Chennai Super Kings,17,1,AT Rayudu,KA Pollard,A Nehra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122354,517,1,Mumbai Indians,Chennai Super Kings,17,2,KA Pollard,AT Rayudu,A Nehra,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
122355,517,1,Mumbai Indians,Chennai Super Kings,17,3,KA Pollard,AT Rayudu,A Nehra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
122356,517,1,Mumbai Indians,Chennai Super Kings,17,4,KA Pollard,AT Rayudu,A Nehra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
122357,517,1,Mumbai Indians,Chennai Super Kings,17,5,KA Pollard,AT Rayudu,A Nehra,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
122358,517,1,Mumbai Indians,Chennai Super Kings,17,6,KA Pollard,AT Rayudu,A Nehra,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
122359,517,1,Mumbai Indians,Chennai Super Kings,18,1,AT Rayudu,KA Pollard,DJ Bravo,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122360,517,1,Mumbai Indians,Chennai Super Kings,18,2,KA Pollard,AT Rayudu,DJ Bravo,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122361,517,1,Mumbai Indians,Chennai Super Kings,18,3,AT Rayudu,KA Pollard,DJ Bravo,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
122362,517,1,Mumbai Indians,Chennai Super Kings,18,4,AT Rayudu,KA Pollard,DJ Bravo,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
122363,517,1,Mumbai Indians,Chennai Super Kings,18,5,AT Rayudu,KA Pollard,DJ Bravo,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122364,517,1,Mumbai Indians,Chennai Super Kings,18,6,KA Pollard,AT Rayudu,DJ Bravo,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122365,517,1,Mumbai Indians,Chennai Super Kings,19,1,KA Pollard,AT Rayudu,MM Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122366,517,1,Mumbai Indians,Chennai Super Kings,19,2,AT Rayudu,KA Pollard,MM Sharma,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
122367,517,1,Mumbai Indians,Chennai Super Kings,19,3,AT Rayudu,KA Pollard,MM Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
122368,517,1,Mumbai Indians,Chennai Super Kings,19,4,AT Rayudu,KA Pollard,MM Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122369,517,1,Mumbai Indians,Chennai Super Kings,19,5,KA Pollard,AT Rayudu,MM Sharma,0,...,0,0,0,0,0,0,0,KA Pollard,caught,SK Raina
122370,517,1,Mumbai Indians,Chennai Super Kings,19,6,AT Rayudu,HH Pandya,MM Sharma,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
122371,517,1,Mumbai Indians,Chennai Super Kings,20,1,HH Pandya,AT Rayudu,DJ Bravo,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
122372,517,1,Mumbai Indians,Chennai Super Kings,20,2,HH Pandya,AT Rayudu,DJ Bravo,0,...,0,0,0,0,0,0,0,HH Pandya,caught,SK Raina
122373,517,1,Mumbai Indians,Chennai Super Kings,20,3,AT Rayudu,Harbhajan Singh,DJ Bravo,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
122374,517,1,Mumbai Indians,Chennai Super Kings,20,4,Harbhajan Singh,AT Rayudu,DJ Bravo,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
122375,517,1,Mumbai Indians,Chennai Super Kings,20,5,Harbhajan Singh,AT Rayudu,DJ Bravo,0,...,0,4,0,0,0,4,4,NaN,NaN,NaN
122376,517,1,Mumbai Indians,Chennai Super Kings,20,6,Harbhajan Singh,AT Rayudu,DJ Bravo,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [227]:
chen.dismissal_kind.fillna("no",inplace = True)

/home/mak/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [230]:
chen2 = chen.loc[chen.dismissal_kind!="no"]

In [239]:
chen2.groupby(['bowler']).dismissal_kind.count().sort_values(ascending = False)[:1]

bowler
R Ashwin    90
Name: dismissal_kind, dtype: int64

In [241]:
#9. Add a column called 'Howzthat' that has shows 'Yay' 
#if the corresponding player_dismissed column has non NaN value
# and 'Nay' if player_dismissed is NaN. Hint: lookat np.where()
deliveries=pd.read_csv('deliveries.csv')

In [252]:
deliveries['Howzthat'] =np.where(deliveries.player_dismissed == 'no','','yay')

In [250]:
deliveries.player_dismissed.fillna('no',inplace = True)

In [253]:
deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,Howzthat
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,1,0,0,0,1,1,no,NaN,NaN,
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,no,NaN,NaN,
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,1,1,no,NaN,NaN,
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,no,NaN,NaN,
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,no,NaN,NaN,
5,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,6,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,no,NaN,NaN,
6,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,7,BB McCullum,SC Ganguly,P Kumar,0,...,1,0,0,0,1,1,no,NaN,NaN,
7,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,1,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,0,0,0,no,NaN,NaN,
8,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,2,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,4,0,4,no,NaN,NaN,
9,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,3,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,4,0,4,no,NaN,NaN,
10,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,4,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,6,0,6,no,NaN,NaN,
11,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,5,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,4,0,4,no,NaN,NaN,
12,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,6,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,0,0,0,no,NaN,NaN,
13,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,0,0,0,no,NaN,NaN,
14,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,2,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,0,0,0,no,NaN,NaN,
15,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,3,SC Ganguly,BB McCullum,P Kumar,0,...,1,0,0,0,1,1,no,NaN,NaN,
16,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,4,0,4,no,NaN,NaN,
17,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,1,0,1,no,NaN,NaN,
18,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,6,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,0,0,0,no,NaN,NaN,
19,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,1,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,0,5,5,no,NaN,NaN,
20,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,2,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,6,0,6,no,NaN,NaN,
21,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,3,BB McCullum,SC Ganguly,AA Noffke,0,...,1,0,0,0,1,1,no,NaN,NaN,
22,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,4,SC Ganguly,BB McCullum,AA Noffke,0,...,0,0,0,4,0,4,no,NaN,NaN,
23,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,5,SC Ganguly,BB McCullum,AA Noffke,0,...,0,0,0,0,0,0,no,NaN,NaN,
24,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,6,SC Ganguly,BB McCullum,AA Noffke,0,...,0,0,0,1,0,1,no,NaN,NaN,
25,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,7,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,6,0,6,no,NaN,NaN,
26,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,4,0,4,no,NaN,NaN,
27,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,2,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,1,0,1,no,NaN,NaN,
28,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,4,0,4,no,NaN,NaN,
29,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,no,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150430,636,2,Rising Pune Supergiant,Mumbai Indians,16,1,MS Dhoni,SPD Smith,KH Pandya,0,...,0,0,0,1,0,1,no,NaN,NaN,
150431,636,2,Rising Pune Supergiant,Mumbai Indians,16,2,SPD Smith,MS Dhoni,KH Pandya,0,...,0,0,0,1,0,1,no,NaN,NaN,
150432,636,2,Rising Pune Supergiant,Mumbai Indians,16,3,MS Dhoni,SPD Smith,KH Pandya,0,...,0,0,0,4,0,4,no,NaN,NaN,
150433,636,2,Rising Pune Supergiant,Mumbai Indians,16,4,MS Dhoni,SPD Smith,KH Pandya,0,...,0,0,0,1,0,1,no,NaN,NaN,
150434,636,2,Rising Pune Supergiant,Mumbai Indians,16,5,SPD Smith,MS Dhoni,KH Pandya,0,...,0,0,0,6,0,6,no,NaN,NaN,
150435,636,2,Rising Pune Supergiant,Mumbai Indians,16,6,SPD Smith,MS Dhoni,KH Pandya,0,...,0,0,0,1,0,1,no,NaN,NaN,
150436,636,2,Rising Pune Supergiant,Mumbai Indians,17,1,SPD Smith,MS Dhoni,JJ Bumrah,0,...,0,0,0,1,0,1,no,NaN,NaN,
150437,636,2,Rising Pune Supergiant,Mumbai Indians,17,2,MS Dhoni,SPD Smith,JJ Bumrah,0,...,0,0,0,0,0,0,MS Dhoni,caught,PA Patel,yay
150438,636,2,Rising Pune Supergiant,Mumbai Indians,17,3,MK Tiwary,SPD Smith,JJ Bumrah,0,...,0,0,0,1,0,1,no,NaN,NaN,
150439,636,2,Rising Pune Supergiant,Mumbai Indians,17,4,SPD Smith,MK Tiwary,JJ Bumrah,0,...,0,0,0,1,0,1,no,NaN,NaN,
150440,636,2,Rising Pune Supergiant,Mumbai Indians,17,5,MK Tiwary,SPD Smith,JJ Bumrah,0,...,0,0,0,0,0,0,no,NaN,NaN,
150441,636,2,Rising Pune Supergiant,Mumbai Indians,17,6,MK Tiwary,SPD Smith,JJ Bumrah,0,...,0,0,0,0,0,0,no,NaN,NaN,
150442,636,2,Rising Pune Supergiant,Mumbai Indians,18,1,SPD Smith,MK Tiwary,SL Malinga,0,...,0,0,0,0,0,0,no,NaN,NaN,
150443,636,2,Rising Pune Supergiant,Mumbai Indians,18,2,SPD Smith,MK Tiwary,SL Malinga,0,...,0,0,0,1,0,1,no,NaN,NaN,
150444,636,2,Rising Pune Supergiant,Mumbai Indians,18,3,MK Tiwary,SPD Smith,SL Malinga,0,...,0,0,0,1,0,1,no,NaN,NaN,
150445,636,2,Rising Pune Supergiant,Mumbai Indians,18,4,SPD Smith,MK Tiwary,SL Malinga,0,...,0,0,0,0,0,0,no,NaN,NaN,
150446,636,2,Rising Pune Supergiant,Mumbai Indians,18,5,SPD Smith,MK Tiwary,SL Malinga,0,...,0,0,0,4,0,4,no,NaN,NaN,
150447,636,2,Rising Pune Supergiant,Mumbai Indians,18,6,SPD Smith,MK Tiwary,SL Malinga,0,...,0,0,0,1,0,1,no,NaN,NaN,
150448,636,2,Rising Pune Supergiant,Mumbai Indians,19,1,SPD Smith,MK Tiwary,JJ Bumrah,0,...,0,0,0,1,0,1,no,NaN,NaN,
150449,636,2,Rising Pune Supergiant,Mumbai Indians,19,2,MK Tiwary,SPD Smith,JJ Bumrah,0,...,0,0,0,1,0,1,no,NaN,NaN,
150450,636,2,Rising Pune Supergiant,Mumbai Indians,19,3,SPD Smith,MK Tiwary,JJ Bumrah,0,...,0,0,0,1,0,1,no,NaN,NaN,
150451,636,2,Rising Pune Supergiant,Mumbai Indians,19,4,MK Tiwary,SPD Smith,JJ Bumrah,0,...,1,0,0,0,1,1,no,NaN,NaN,
150452,636,2,Rising Pune Supergiant,Mumbai Indians,19,5,SPD Smith,MK Tiwary,JJ Bumrah,0,...,0,0,0,6,0,6,no,NaN,NaN,
150453,636,2,Rising Pune Supergiant,Mumbai Indians,19,6,SPD Smith,MK Tiwary,JJ Bumrah,0,...,0,0,0,2,0,2,no,NaN,NaN,
150454,636,2,Rising Pune Supergiant,Mumbai Indians,20,1,MK Tiwary,SPD Smith,MG Johnson,0,...,0,0,0,4,0,4,no,NaN,NaN,
150455,636,2,Rising Pune Supergiant,Mumbai Indians,20,2,MK Tiwary,SPD Smith,MG Johnson,0,...,0,0,0,0,0,0,MK Tiwary,caught,KA Pollard,yay
150456,636,2,Rising Pune Supergiant,Mumbai Indians,20,3,SPD Smith,DT Christian,MG Johnson,0,...,0,0,0,0,0,0,SPD Smith,caught,AT Rayudu,yay
150457,636,2,Rising Pune Supergiant,Mumbai Indians,20,4,Washington Sundar,DT Christian,MG Johnson,0,...,0,0,0,0,1,1,no,NaN,NaN,
150458,636,2,Rising Pune Supergiant,Mumbai Indians,20,5,DT Christian,Washington Sundar,MG Johnson,0,...,0,0,0,2,0,2,no,NaN,NaN,
150459,636,2,Rising Pune Supergiant,Mumbai Indians,20,6,DT Christian,Washington Sundar,MG Johnson,0,...,0,0,0,2,0,2,Washington Sundar,run out,J Suchith (sub),yay

In [254]:
deliveries=pd.read_csv('deliveries.csv')

In [255]:
#10. Add a column 'run_run' which checks total_runs column and say 
#'Duck' if total_runs is 0, 
#'come_on' if total_runs is 1 or 2,
# 'cool' if total_runs is 3,
# 'hit!' if total_runs is 4 or 6. 
# Hint: you can write a function 
#using nested if-else and apply that function to df.total_runs

In [261]:
def run(t):
    if t == 0:
        return 'Duck'
    elif t == 1 or t == 2:
        return 'come_on'
    elif t == 3:
        return 'cool'
    elif t == 6 or t == 4:
        return 'hit!'
    else:
        return ' '

In [262]:
deliveries['run_run'] = deliveries.total_runs.apply(run)

In [260]:
1 == 2 and 2 == 2

False

In [263]:
deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,run_run
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,1,0,0,0,1,1,NaN,NaN,NaN,come_on
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,1,1,NaN,NaN,NaN,come_on
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
5,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,6,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
6,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,7,BB McCullum,SC Ganguly,P Kumar,0,...,1,0,0,0,1,1,NaN,NaN,NaN,come_on
7,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,1,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
8,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,2,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,4,0,4,NaN,NaN,NaN,hit!
9,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,3,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,4,0,4,NaN,NaN,NaN,hit!
10,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,4,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,6,0,6,NaN,NaN,NaN,hit!
11,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,5,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,4,0,4,NaN,NaN,NaN,hit!
12,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2,6,BB McCullum,SC Ganguly,Z Khan,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
13,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
14,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,2,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
15,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,3,SC Ganguly,BB McCullum,P Kumar,0,...,1,0,0,0,1,1,NaN,NaN,NaN,come_on
16,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,4,0,4,NaN,NaN,NaN,hit!
17,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
18,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,3,6,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
19,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,1,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,0,5,5,NaN,NaN,NaN,
20,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,2,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,6,0,6,NaN,NaN,NaN,hit!
21,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,3,BB McCullum,SC Ganguly,AA Noffke,0,...,1,0,0,0,1,1,NaN,NaN,NaN,come_on
22,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,4,SC Ganguly,BB McCullum,AA Noffke,0,...,0,0,0,4,0,4,NaN,NaN,NaN,hit!
23,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,5,SC Ganguly,BB McCullum,AA Noffke,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
24,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,6,SC Ganguly,BB McCullum,AA Noffke,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
25,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,4,7,BB McCullum,SC Ganguly,AA Noffke,0,...,0,0,0,6,0,6,NaN,NaN,NaN,hit!
26,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,4,0,4,NaN,NaN,NaN,hit!
27,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,2,SC Ganguly,BB McCullum,P Kumar,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
28,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,4,0,4,NaN,NaN,NaN,hit!
29,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150430,636,2,Rising Pune Supergiant,Mumbai Indians,16,1,MS Dhoni,SPD Smith,KH Pandya,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150431,636,2,Rising Pune Supergiant,Mumbai Indians,16,2,SPD Smith,MS Dhoni,KH Pandya,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150432,636,2,Rising Pune Supergiant,Mumbai Indians,16,3,MS Dhoni,SPD Smith,KH Pandya,0,...,0,0,0,4,0,4,NaN,NaN,NaN,hit!
150433,636,2,Rising Pune Supergiant,Mumbai Indians,16,4,MS Dhoni,SPD Smith,KH Pandya,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150434,636,2,Rising Pune Supergiant,Mumbai Indians,16,5,SPD Smith,MS Dhoni,KH Pandya,0,...,0,0,0,6,0,6,NaN,NaN,NaN,hit!
150435,636,2,Rising Pune Supergiant,Mumbai Indians,16,6,SPD Smith,MS Dhoni,KH Pandya,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150436,636,2,Rising Pune Supergiant,Mumbai Indians,17,1,SPD Smith,MS Dhoni,JJ Bumrah,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150437,636,2,Rising Pune Supergiant,Mumbai Indians,17,2,MS Dhoni,SPD Smith,JJ Bumrah,0,...,0,0,0,0,0,0,MS Dhoni,caught,PA Patel,Duck
150438,636,2,Rising Pune Supergiant,Mumbai Indians,17,3,MK Tiwary,SPD Smith,JJ Bumrah,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150439,636,2,Rising Pune Supergiant,Mumbai Indians,17,4,SPD Smith,MK Tiwary,JJ Bumrah,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150440,636,2,Rising Pune Supergiant,Mumbai Indians,17,5,MK Tiwary,SPD Smith,JJ Bumrah,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
150441,636,2,Rising Pune Supergiant,Mumbai Indians,17,6,MK Tiwary,SPD Smith,JJ Bumrah,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
150442,636,2,Rising Pune Supergiant,Mumbai Indians,18,1,SPD Smith,MK Tiwary,SL Malinga,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
150443,636,2,Rising Pune Supergiant,Mumbai Indians,18,2,SPD Smith,MK Tiwary,SL Malinga,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150444,636,2,Rising Pune Supergiant,Mumbai Indians,18,3,MK Tiwary,SPD Smith,SL Malinga,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150445,636,2,Rising Pune Supergiant,Mumbai Indians,18,4,SPD Smith,MK Tiwary,SL Malinga,0,...,0,0,0,0,0,0,NaN,NaN,NaN,Duck
150446,636,2,Rising Pune Supergiant,Mumbai Indians,18,5,SPD Smith,MK Tiwary,SL Malinga,0,...,0,0,0,4,0,4,NaN,NaN,NaN,hit!
150447,636,2,Rising Pune Supergiant,Mumbai Indians,18,6,SPD Smith,MK Tiwary,SL Malinga,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150448,636,2,Rising Pune Supergiant,Mumbai Indians,19,1,SPD Smith,MK Tiwary,JJ Bumrah,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150449,636,2,Rising Pune Supergiant,Mumbai Indians,19,2,MK Tiwary,SPD Smith,JJ Bumrah,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150450,636,2,Rising Pune Supergiant,Mumbai Indians,19,3,SPD Smith,MK Tiwary,JJ Bumrah,0,...,0,0,0,1,0,1,NaN,NaN,NaN,come_on
150451,636,2,Rising Pune Supergiant,Mumbai Indians,19,4,MK Tiwary,SPD Smith,JJ Bumrah,0,...,1,0,0,0,1,1,NaN,NaN,NaN,come_on
150452,636,2,Rising Pune Supergiant,Mumbai Indians,19,5,SPD Smith,MK Tiwary,JJ Bumrah,0,...,0,0,0,6,0,6,NaN,NaN,NaN,hit!
150453,636,2,Rising Pune Supergiant,Mumbai Indians,19,6,SPD Smith,MK Tiwary,JJ Bumrah,0,...,0,0,0,2,0,2,NaN,NaN,NaN,come_on
150454,636,2,Rising Pune Supergiant,Mumbai Indians,20,1,MK Tiwary,SPD Smith,MG Johnson,0,...,0,0,0,4,0,4,NaN,NaN,NaN,hit!
150455,636,2,Rising Pune Supergiant,Mumbai Indians,20,2,MK Tiwary,SPD Smith,MG Johnson,0,...,0,0,0,0,0,0,MK Tiwary,caught,KA Pollard,Duck
150456,636,2,Rising Pune Supergiant,Mumbai Indians,20,3,SPD Smith,DT Christian,MG Johnson,0,...,0,0,0,0,0,0,SPD Smith,caught,AT Rayudu,Duck
150457,636,2,Rising Pune Supergiant,Mumbai Indians,20,4,Washington Sundar,DT Christian,MG Johnson,0,...,0,0,0,0,1,1,NaN,NaN,NaN,come_on
150458,636,2,Rising Pune Supergiant,Mumbai Indians,20,5,DT Christian,Washington Sundar,MG Johnson,0,...,0,0,0,2,0,2,NaN,NaN,NaN,come_on
150459,636,2,Rising Pune Supergiant,Mumbai Indians,20,6,DT Christian,Washington Sundar,MG Johnson,0,...,0,0,0,2,0,2,Washington Sundar,run out,J Suchith (sub),come_on

In [7]:
d1 = {'batting_team': {0: 'Kolkata Knight Riders',
  1: 'Kolkata Knight Riders',
  2: 'Kolkata Knight Riders',
  3: 'Kolkata Knight Riders',
  4: 'Kolkata Knight Riders',
  5: 'Kolkata Knight Riders',
  6: 'Royal Challengers Bangalore',
  7: 'Royal Challengers Bangalore',
  8: 'Royal Challengers Bangalore',
  9: 'Royal Challengers Bangalore'},
 'bowler': {0: 'AA Noffke',
  1: 'CL White',
  2: 'JH Kallis',
  3: 'P Kumar',
  4: 'SB Joshi',
  5: 'Z Khan',
  6: 'AB Agarkar',
  7: 'AB Dinda',
  8: 'I Sharma',
  9: 'LR Shukla'},
 'bowling_team': {0: 'Royal Challengers Bangalore',
  1: 'Royal Challengers Bangalore',
  2: 'Royal Challengers Bangalore',
  3: 'Royal Challengers Bangalore',
  4: 'Royal Challengers Bangalore',
  5: 'Royal Challengers Bangalore',
  6: 'Kolkata Knight Riders',
  7: 'Kolkata Knight Riders',
  8: 'Kolkata Knight Riders',
  9: 'Kolkata Knight Riders'},
 'extra_runs': {0: 6, 1: 2, 2: 5, 3: 4, 4: 0, 5: 0, 6: 4, 7: 2, 8: 7, 9: 3},
 'match_id': {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1},
 'total_runs': {0: 41,
  1: 24,
  2: 52,
  3: 41,
  4: 26,
  5: 38,
  6: 25,
  7: 9,
  8: 13,
  9: 12}}
df = pd.DataFrame(d1)

In [265]:
df

,batting_team,bowler,bowling_team,extra_runs,match_id,total_runs
0,Kolkata Knight Riders,AA Noffke,Royal Challengers Bangalore,6,1,41
1,Kolkata Knight Riders,CL White,Royal Challengers Bangalore,2,1,24
2,Kolkata Knight Riders,JH Kallis,Royal Challengers Bangalore,5,1,52
3,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,4,1,41
4,Kolkata Knight Riders,SB Joshi,Royal Challengers Bangalore,0,1,26
5,Kolkata Knight Riders,Z Khan,Royal Challengers Bangalore,0,1,38
6,Royal Challengers Bangalore,AB Agarkar,Kolkata Knight Riders,4,1,25
7,Royal Challengers Bangalore,AB Dinda,Kolkata Knight Riders,2,1,9
8,Royal Challengers Bangalore,I Sharma,Kolkata Knight Riders,7,1,13
9,Royal Challengers Bangalore,LR Shukla,Kolkata Knight Riders,3,1,12

In [266]:
deliveries=pd.read_csv('deliveries.csv')

In [267]:
deliveries_2 = deliveries[['batting_team','bowler','bowling_team','extra_runs','match_id','total_runs']]

In [294]:
dd = deliveries.groupby(['match_id','inning','batting_team','bowler','bowling_team']).extra_runs.sum().sort_values().reset_index()

In [295]:
dd.head()

,match_id,inning,batting_team,bowler,bowling_team,extra_runs
0,316,1,Kolkata Knight Riders,AG Murtaza,Pune Warriors,0
1,476,1,Delhi Daredevils,YK Pathan,Kolkata Knight Riders,0
2,289,1,Deccan Chargers,WD Parnell,Pune Warriors,0
3,476,1,Delhi Daredevils,AD Russell,Kolkata Knight Riders,0
4,174,2,Royal Challengers Bangalore,Harmeet Singh,Deccan Chargers,0

In [298]:
dd.sort_values('match_id')

,match_id,inning,batting_team,bowler,bowling_team,extra_runs
2072,1,1,Kolkata Knight Riders,Z Khan,Royal Challengers Bangalore,0
6826,1,2,Royal Challengers Bangalore,AB Agarkar,Kolkata Knight Riders,4
6830,1,1,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,4
7363,1,1,Kolkata Knight Riders,AA Noffke,Royal Challengers Bangalore,6
5923,1,2,Royal Challengers Bangalore,AB Dinda,Kolkata Knight Riders,2
2071,1,1,Kolkata Knight Riders,SB Joshi,Royal Challengers Bangalore,0
6339,1,2,Royal Challengers Bangalore,SC Ganguly,Kolkata Knight Riders,3
6342,1,2,Royal Challengers Bangalore,LR Shukla,Kolkata Knight Riders,3
5914,1,1,Kolkata Knight Riders,CL White,Royal Challengers Bangalore,2
7464,1,2,Royal Challengers Bangalore,I Sharma,Kolkata Knight Riders,7
7092,1,1,Kolkata Knight Riders,JH Kallis,Royal Challengers Bangalore,5
6465,2,2,Kings XI Punjab,P Amarnath,Chennai Super Kings,3
4784,2,1,Chennai Super Kings,S Sreesanth,Kings XI Punjab,1
4854,2,2,Kings XI Punjab,Joginder Sharma,Chennai Super Kings,1
6495,2,2,Kings XI Punjab,MS Gony,Chennai Super Kings,3
5937,2,1,Chennai Super Kings,B Lee,Kings XI Punjab,2
2079,2,1,Chennai Super Kings,IK Pathan,Kings XI Punjab,0
6840,2,2,Kings XI Punjab,M Muralitharan,Chennai Super Kings,4
2081,2,1,Chennai Super Kings,K Goel,Kings XI Punjab,0
2085,2,2,Kings XI Punjab,JDP Oram,Chennai Super Kings,0
2082,2,1,Chennai Super Kings,PP Chawla,Kings XI Punjab,0
4690,2,1,Chennai Super Kings,JR Hopes,Kings XI Punjab,1
5858,2,1,Chennai Super Kings,WA Mota,Kings XI Punjab,2
6506,3,1,Rajasthan Royals,MF Maharoof,Delhi Daredevils,3
2065,3,1,Rajasthan Royals,DL Vettori,Delhi Daredevils,0
4894,3,2,Delhi Daredevils,YK Pathan,Rajasthan Royals,1
4891,3,2,Delhi Daredevils,SR Watson,Rajasthan Royals,1
4835,3,1,Rajasthan Royals,GD McGrath,Delhi Daredevils,1
6486,3,1,Rajasthan Royals,R Bhatia,Delhi Daredevils,3
2046,3,2,Delhi Daredevils,MM Patel,Rajasthan Royals,0
...,...,...,...,...,...,...
6485,634,1,Sunrisers Hyderabad,UT Yadav,Kolkata Knight Riders,3
2044,634,1,Sunrisers Hyderabad,PP Chawla,Kolkata Knight Riders,0
5890,634,1,Sunrisers Hyderabad,TA Boult,Kolkata Knight Riders,2
2088,634,2,Kolkata Knight Riders,B Kumar,Sunrisers Hyderabad,0
2067,634,1,Sunrisers Hyderabad,YK Pathan,Kolkata Knight Riders,0
2087,634,2,Kolkata Knight Riders,Bipul Sharma,Sunrisers Hyderabad,0
2086,634,2,Kolkata Knight Riders,S Kaul,Sunrisers Hyderabad,0
2053,634,1,Sunrisers Hyderabad,SP Narine,Kolkata Knight Riders,0
7082,635,2,Mumbai Indians,UT Yadav,Kolkata Knight Riders,5
6363,635,1,Kolkata Knight Riders,MG Johnson,Mumbai Indians,3
2083,635,1,Kolkata Knight Riders,JJ Bumrah,Mumbai Indians,0
5863,635,1,Kolkata Knight Riders,KV Sharma,Mumbai Indians,2
5868,635,1,Kolkata Knight Riders,SL Malinga,Mumbai Indians,2
2080,635,1,Kolkata Knight Riders,KH Pandya,Mumbai Indians,0
5900,635,2,Mumbai Indians,AS Rajpoot,Kolkata Knight Riders,2
2078,635,2,Mumbai Indians,NM Coulter-Nile,Kolkata Knight Riders,0
2076,635,2,Mumbai Indians,SP Narine,Kolkata Knight Riders,0
3477,635,2,Mumbai Indians,PP Chawla,Kolkata Knight Riders,1
2084,635,1,Kolkata Knight Riders,HH Pandya,Mumbai Indians,0
6403,636,1,Mumbai Indians,DT Christian,Rising Pune Supergiant,3
3995,636,2,Rising Pune Supergiant,SL Malinga,Mumbai Indians,1
5918,636,2,Rising Pune Supergiant,KV Sharma,Mumbai Indians,2
3478,636,1,Mumbai Indians,A Zampa,Rising Pune Supergiant,1
3480,636,1,Mumbai Indians,SN Thakur,Rising Pune Supergiant,1
3479,636,1,Mumbai Indians,LH Ferguson,Rising Pune Supergiant,1
2070,636,1,Mumbai Indians,Washington Sundar,Rising Pune Supergiant,0
2068,636,2,Rising Pune Supergiant,KH Pandya,Mumbai Indians,0
7258,636,2,Rising Pune Supergiant,MG Johnson,Mumbai Indians,5
3481,636,2,Rising Pune Supergiant,JJ Bumrah,Mumbai Indians,1
5924,636,1,Mumbai Indians,JD Unadkat,Rising Pune Supergiant,2